FONT		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px}
TD		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px}
BODY		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px}
P		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px}
DIV		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px}
INPUT 		{BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
TEXTAREA	{BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
SELECT 		{BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
FORM 		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px}
A:link          {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
A:active        {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
A:visited       {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
A:hover         {BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.titleblack 		{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.content 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica}
.block-title	{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica}
.storytitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.storycat	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.boxtitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.boxcontent 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica}
.option 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.tiny		{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 9px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.tinywhite		{BACKGROUND: none; COLOR: #ffffff; FONT-SIZE: 9px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.tinyunderline	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 9px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.title {FONT-FAMILY: Verdana,Helvetica; FONT-WEIGHT: bold; COLOR: #ffffff; FONT-SIZE: 12px}
.adminlink {BACKGROUND: none; COLOR: #ffffff; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.tinypercent		{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 9px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.bg { border: 0px outset #E6E6E6; background-color:#829FB5; }
.fg { border: 0px outset #E6E6E6; background-color:#A2BED4; }
.overCaption {font-family:arial; color:#ffffff; font-size:9pt; font-weight:bold;}
.overClose {font-family:arial; background:#94ABC0; color:#000000; font-size:9pt; font-weight:bold;}
.overBody {font-family:arial; background:#A2BED4; font-size:9pt; font-weight:normal;}
.detailbar {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
}
.hidden
{
	visibility:hidden;
}


/*
 * IE 5 to 7 don't support position: fixed (in quirks mode), so use expression(...) trick
 * to dynamically adjust positions/sizes to emulate it. Prefix those CSS identifiers with
 * '_' to hide them from other browsers (IE ignores the leading underscore, others don't).
 *
 * expression(...) are in separate classes to only activate them when needed
 * (frequently evaluated JS: too CPU-intensive to keep active all the time).
 */

#action_in_progress
{ 
	background: #DDDDFF;
	border:3px solid #a0b9d8;
	color: #EE2222;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	padding: 3px;
	position: fixed;
	top:0px;
	left:0px;
	/* --- IE-specific ---- */
	_position: absolute;
	_top:  0px;
	_left: 0px;
	/* -------------------- */
	z-index:10102 !important;
}
#action_in_progress.active
{
	/* --- IE-specific ---- */
	_top:  expression( ( flux_scrollTop()  + (flux_clientHeight() - /*this.*/offsetHeight) / 2 ) + 'px' );
	_left: expression( ( flux_scrollLeft() + (flux_clientWidth()  - /*this.*/offsetWidth ) / 2 ) + 'px' );
	/* -------------------- */
}

#grey_out
{
	position: fixed;
	height:100%;
	width:100%;
	/* ---- IE-specific ---- */
	_position: absolute;
	_height: 0px;
	_width:  0px;
	/* --------------------- */
	z-index:10100 !important;
	top: 0px;
	left: 0px;
	background-color:#000000;
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
#grey_out.active
{
	/* ---- IE-specific ---- */
	_height: expression( document.body.scrollHeight + 'px' );
	_width:  expression( document.body.scrollWidth  + 'px' );
	/* --------------------- */
}


hr{ color: #94ABC0; noshade }
/* #transferList { overflow: auto; } */
