<td>
	Upload (<span id="barSpeedUp"><tmpl_var name="bandwidthbars_upload_text"></span> kB/s)
	<div style="height: 8px;" id="uploadbar"></div>
</td>
			
<td>
	Download (<span id="barSpeedDown"><tmpl_var name="bandwidthbars_download_text"></span> kB/s)
	<div style="height: 8px;" id="downloadbar"></div> 
</td>
</tr>
