<tmpl_include name="inc.transferLayoutHeader.tmpl">
<h1>Log</h1>
<table>
	<tr>
		<td>
			<pre><tmpl_var escape="html" name="transferLog"></pre>
		</td>
	</tr>
</table>
<tmpl_include name="inc.transferLayoutFooter.tmpl">