<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><tmpl_var name="pagetitle"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=<tmpl_var name="_CHARSET">" />
	<meta http-equiv="pragma" content="no-cache" />
	<style>
body {
  background-color: #eee;
  font-size: 12px;
  color:#564b47;  
  padding:20px;
  margin:0px;
  text-align: center;
}


#inhalt { 	
  text-align: left;
  vertical-align: middle;	
  margin: 0px auto;
  padding: 0px;
  width: 550px;
  background-color: #ededed;
  border: 1px dashed #564b47;
  min-height: 320px !important; 
  height: 320px; /* IE6 */
}

p, h1 {
margin: 0px; 
padding: 10px; 
}
h1 {
font-size: 14px;
text-transform:uppercase;
text-align: right;
color: #ededed;
background-color: #aa2233;
}

a { 
color: #ff66cc;
font-size: 11px;
background-color:transparent;
text-decoration: none; 
}
</style>
</head>
<body>
<div id="inhalt">
<h1><tmpl_var name="pagetitle"> locked</h1>
<p><img style="float:left" src="themes/BlueRound/images/locked/emblem.png"> Please try again later.</p>
</div>
</body>
</html>