<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<tmpl_include name="inc.adminmenu.tmpl">
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/adminSettings.js" type="text/javascript"></script>
<script src="js/moveSettings.js" type="text/javascript"></script>
<script src="js/resdirSettings.js" type="text/javascript"></script>
<div align="center">
	<table width="100%" border=1 bordercolor="<tmpl_var name="table_admin_border">" cellpadding="2" cellspacing="0" bgcolor="<tmpl_var name="table_data_bg">">
		<tr>
			<td bgcolor="<tmpl_var name="table_header_bg">" background="themes/default/images/bar.gif">
				<img src="themes/default/images/properties.png" border=0>&nbsp;&nbsp;<font class="title">Dir Settings</font>
			</td>
		</tr>
		<tr>
			<td align="center">
				<div align="center">
					<form name="theForm" action="admin.php?op=updateDirSettings" method="post" onsubmit="return validateSettings('dir')">
						<table cellpadding="5" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="left" width="350" valign="top">
									<label for="dir_public_read"><strong>Public Read:</strong></label><br/>
									Enable/disable public read permission for all files/folders in torrentflux-b4rt - when enabled, all files and folders within torrentflux-b4rt will be readable by all torrentflux-b4rt users.
								</td>
								<td valign="top">
									<select name="dir_public_read" id="dir_public_read">
										<option value="1">True</option>
										<option value="0"
										<tmpl_if name="dir_public_read" value="0">
											 selected
										</tmpl_if>
										>False</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="dir_public_write"><strong>Public Write:</strong></label><br/>
									Enable/disable public write permission for all files/folders in torrentflux-b4rt - when enabled, all files and folders within torrentflux-b4rt will be writable by all torrentflux-b4rt users.
								</td>
								<td valign="top">
									<select name="dir_public_write" id="dir_public_write">
										<option value="1">True</option>
										<option value="0"
										<tmpl_if name="dir_public_write" value="0">
											 selected
										</tmpl_if>
										>False</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="dir_enable_chmod"><strong>Chmod:</strong></label><br/>
									Enable/disable the use of the chmod functionality for regular torrentflux-b4rt users - when enabled, users will be able to change the permissions on files and folders in torrentflux-b4rt to read/write/execute for everyone (777).
								</td>
								<td valign="top">
									<select name="dir_enable_chmod" id="dir_enable_chmod">
										<option value="1">True</option>
										<option value="0"
										<tmpl_if name="dir_enable_chmod" value="0">
											 selected
										</tmpl_if>
										>False</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_dirstats"><strong>Full Directory Listings:</strong></label><br/>
									Enable/disable complete directory listings - when enabled, full directory listings will be used including size and last modified time similar to Unix 'ls -al' output.
								</td>
								<td valign="top">
									<select name="enable_dirstats" id="enable_dirstats">
										<option value="1">True</option>
										<option value="0"
										<tmpl_if name="enable_dirstats" value="0">
											 selected
										</tmpl_if>
										>False</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_maketorrent"><strong>Make Torrent:</strong></label><br/>
									Enable/disable make torrent functionality for users - when enabled, users will be allowed to create torrent files from the contents in the directory manager.
								</td>
								<td valign="top">
									<select name="enable_maketorrent" id="enable_maketorrent">
										<option value="1">True</option>
										<option value="0"
										<tmpl_if name="enable_maketorrent" value="0">
											 selected
										</tmpl_if>
										>False</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="dir_maketorrent_default"><strong>Default Make Torrent Client:</strong></label><br/>
									Choose the default client to use to create torrent files with.
								</td>
								<td valign="top">
									<select name="dir_maketorrent_default" id="dir_maketorrent_default">
										<option value="tornado">tornado</option>
										<option value="mainline"
										<tmpl_if name="dir_maketorrent_default" value="mainline">
											 selected
										</tmpl_if>
										>mainline</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_file_download"><strong>File Downloads:</strong></label><br/>
									Enable/disable file downloading from the directory manager - when enabled, users will be able to download files directly from the torrentflux-b4rt file manager.
								</td>
								<td valign="top">
									<select name="enable_file_download" id="enable_file_download">
										<option value="1">True</option>
										<option value="0"
										<tmpl_if name="enable_file_download" value="0">
											 selected
										</tmpl_if>
										>False</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="package_type"><strong>Download Archive Type:</strong></label><br/>
									Choose the type of archive to use when performing file downloads - files downloaded will be archived using this archive type prior to sending.<br/><strong>Note:</strong><br/>Ensure your operating system supports the archive type you select here.
								</td>
								<td valign="top">
									<select name="package_type" id="package_type">
										<option value="tar" selected>Tar</option>
										<option value="zip"
										<tmpl_if name="package_type" value="zip">
											 selected
										</tmpl_if>
										>Zip</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_view_nfo"><strong>Text/NFO Viewer:</strong></label><br/>
									Enable/disable access to the built in NFO viewer - when enabled, users will be able to view nfo/txt/log file types directly within torrentflux-b4rt.
								</td>
								<td valign="top">
									<select name="enable_view_nfo" id="enable_view_nfo">
										<option value="1">True</option>
										<option value="0"
										<tmpl_if name="enable_view_nfo" value="0">
											 selected
										</tmpl_if>
										>False</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_rar"><strong>Unrar:</strong></label><br/>
									Enable/disable access to unrar functionality - when enabled, users will be able to use unrar to unpack rar archives directly within torrentflux-b4rt.
								</td>
								<td valign="top">
									<select name="enable_rar" id="enable_rar">
										<option value="1">True</option>
										<option value="0"
										<tmpl_if name="enable_rar" value="0">
											 selected
										</tmpl_if>
										>False</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_sfvcheck"><strong>SFV File Checking:</strong></label><br/>
									Enable/disable access to sfv file checking functionality - when enabled, if an sfv file is present users will be able to verify the integrity of the files covered by the sfv file directly within torrentflux-b4rt.
								</td>
								<td valign="top">
									<select name="enable_sfvcheck" id="enable_sfvcheck">
										<option value="1">True</option>
										<option value="0"
										<tmpl_if name="enable_sfvcheck" value="0">
											 selected
										</tmpl_if>
										>False</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_vlc"><strong>VLC Streaming:</strong></label><br/>
									Enable/disable access to VLC file streaming functionality - when enabled, users will be able to stream media directly from the webserver using VLC.
								</td>
								<td valign="top">
									<select name="enable_vlc" id="enable_vlc">
										<option value="1">True</option>
										<option value="0"
										<tmpl_if name="enable_vlc" value="0">
											 selected
										</tmpl_if>
										>False</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="vlc_port"><strong>VLC Port:</strong></label><br/>
									Specify the port to use for VLC streaming.
								</td>
								<td valign="top">
									<input name="vlc_port" id="vlc_port" type="Text" maxlength="5" value="<tmpl_var name="vlc_port">" size="5">
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_rename"><strong>File And Folder Renaming:</strong></label><br/>
									Enable/disable access for users to rename files and folders.
								</td>
								<td valign="top">
									<select name="enable_rename" id="enable_rename">
										<option value="1">True</option>
										<option value="0"
										<tmpl_if name="enable_rename" value="0">
											 selected
										</tmpl_if>
										>False</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_move"><strong>File And Folder Moving:</strong></label><br/>
									Enable/disable access for users to move files and folders out of the torrentflux-b4rt directory hierarchy - when enabled, users will be allowed to move files and folders out of the torrentflux-b4rt directory hierarchy into a choice of folders elsewhere on the server.
								</td>
								<td valign="top">
									<select name="enable_move" id="enable_move">
										<option value="1">True</option>
										<option value="0"
										<tmpl_if name="enable_move" value="0">
											 selected
										</tmpl_if>
										>False</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<strong>Valid File And Folder Moving Paths:</strong><br/>
									Specify the paths to which users are allowed to move files and folders outside of the torrentflux-b4rt directory hierarchy.<br/><strong>Note:</strong><br/>Paths must be absolute - ie '/path/to/somefolder' instead of just 'somefolder'.<br/>Any newly created directories will not be deleted after removing a transfer from the transfer list.
								</td>
								<td valign="top">
									<tmpl_include name="inc.moveSettings.tmpl">
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<strong>Restricted Files And Folders:</strong><br/>
									Specify a list of patterns which, when found in a file or folder name, will not be allowed access to by users.<br/><strong>Note:</strong><br/>Access to dot files/folders - files/folders starting with a dot - are always restricted.
								</td>
								<td valign="top">
									<table>
										<tr>
											<td valign="top" align="left"><label for="resdirlist">Entries:</label> </td>
											<td valign="top" align="left">
												<select name="resdirlist" id="resdirlist" size="3">
													<tmpl_if name="dir_restricted_list">
														<tmpl_loop name="dir_restricted_list">
															<option value="<tmpl_var name="target">"><tmpl_var name="target"></option>
															</tmpl_loop>
													</tmpl_if>
												</select>
												<input type="button" name="remButton" value="remove" onclick="removeDirEntry()">
											</td>
										</tr>
										<tr>
											<td valign="top" align="left"><label for="resdirentry">New Entry:</label> </td>
											<td valign="top" align="left">
												<input type="text" name="resdirentry" id="resdirentry" size="30">
												<input type="button" name="addButton" value="add" onclick="addDirEntry()" size="30">
												<input type="hidden" name="dir_restricted" value="<tmpl_var name="dir_restricted">">
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<br>
						<input type="Submit" value="Update Settings">
					</form>
				</div>
				<br>
			</td>
		</tr>
	</table>
</div>
<tmpl_include name="inc.subfoot.tmpl">
