<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<script src="js/dir.js" type="text/javascript"></script>
<tmpl_if name="drivespacebar_type" value="xfer">
    <tmpl_include name="inc.driveSpaceBar_xfer.tmpl">
<tmpl_else>
    <tmpl_include name="inc.driveSpaceBar_tf.tmpl">
</tmpl_if>
<br>
<form action="index.php?iid=dir&dir=<tmpl_var name="dir">&multidel=1" method="post" name="multidir">
<table cellpadding="2"" width="740">
	<tr>
		<td align="left">
			<a href="<tmpl_var name="parentURL">"><img src="themes/default/images/up_dir.gif" width="16" height="16" title="<tmpl_var name="_BACKTOPARRENT">" border="0">[<tmpl_var name="_BACKTOPARRENT">]</a>
		</td>
		<tmpl_if name="enable_dirstats" value="1">
			<td colspan="2">&nbsp;</td>
		</tmpl_if>
		<td align="right">
			<tmpl_if name="show_chmod" value="1">
				<a href="index.php?iid=dir&chmod=1&dir=<tmpl_var name="dir">"><img src="themes/default/images/chmod.gif" width="16" height="16" title="chmod Directory" border="0">[chmod Directory]</a>
			<tmpl_else>
				&nbsp;
			</tmpl_if>
		</td>
	</tr>
	<tmpl_if name="list">
		<tmpl_loop name="list">
			<tmpl_if name="__EVEN__">
				<tr bgcolor="<tmpl_var name="bgLight">">
			<tmpl_else>
				<tr bgcolor="<tmpl_var name="bgDark">">
			</tmpl_if>
				<tmpl_if name="is_dir" value="1">
					<td nowrap>
						<a href="index.php?iid=dir&dir=<tmpl_var name="urlencode1">"><img src="themes/default/images/folder2.gif" width="16" height="16" title="<tmpl_var name="entry">" border="0" align="absmiddle"><tmpl_var name="entry"></a>
					</td>
					<tmpl_if name="enable_dirstats" value="1">
						<td align="right" nowrap><tmpl_var name="size"></td>
						<td width="140" nowrap><tmpl_var name="date"></td>
					</tmpl_if>
					<td align="right" nowrap>
						<tmpl_if name="enable_sfvcheck" value="1">
							<tmpl_if name="show_sfv" value="1">
								<a href="javascript:CheckSFV('<tmpl_var escape="url" name="sfvdir">','<tmpl_var escape="url" name="sfvsfv">')"><img src="themes/default/images/sfv_enabled.gif" border="0" width="16" height="16" alt="sfv check"></a>
							<tmpl_else>
								<img src="themes/default/images/sfv_disabled.gif" border="0" width="16" height="16" alt="sfv check disabled, check admin settings to enable">
							</tmpl_if>
						</tmpl_if>
						<tmpl_if name="enable_rename" value="1">
							<a href="JavaScript:rename('index.php?iid=rename&dir=<tmpl_var escape="url" name="urlencode2">&file=<tmpl_var escape="url" name="urlencode3">&start=true')"><img src="themes/default/images/rename.gif" width=16 height=16 title="<tmpl_var name="_DIR_REN_LINK">" border=0></a>
						</tmpl_if>
						<tmpl_if name="enable_move" value="1">
							<a href="JavaScript:moveFile('index.php?iid=move&path=<tmpl_var escape="url" name="urlencode1">&start=true')"><img src="themes/default/images/_move.gif" width=16 height=16 title="<tmpl_Var name="_DIR_MOVE_LINK">" border=0></a>
						</tmpl_if>
						<tmpl_if name="enable_maketorrent" value="1">
							<a href="JavaScript:MakeTorrent('index.php?iid=maketorrent&path=<tmpl_var escape="url" name="urlencode1">')"><img src="themes/default/images/make.gif" width=16 height=16 title="Make Torrent" border=0></a>
						</tmpl_if>
						<tmpl_if name="enable_file_download" value="1">
							<a href="index.php?iid=dir&tar=<tmpl_var name="urlencode1">"><img src="themes/default/images/tar_down.gif" width=16 height=16 title="Download as <tmpl_var name="package_type">" border=0></a>
						</tmpl_if>
						<tmpl_if name="aclWrite" value="1">
							<a href="index.php?iid=dir&del=<tmpl_var name="urlencode1">" onclick="return confirm('<tmpl_var name="_ABOUTTODELETE"> : <tmpl_var name="addslashes1">')"><img src="themes/default/images/delete_on.gif" width=16 height=16 title="<tmpl_var name="_DELETE">" border=0></a>
							<input type="checkbox" name="file[]" value="<tmpl_var name="urlencode1">">
						<tmpl_else>
							<img src="themes/default/images/delete_off.gif" width=16 height=16 title="<tmpl_var name="_DELETE">" border=0>
							<input type="checkbox" name="file[]" disabled>
						</tmpl_if>
					</td>
				<tmpl_else>
					<td nowrap>
						<tmpl_if name="enable_file_download" value="1">
							<a href="index.php?iid=dir&down=<tmpl_var name="urlencode1">"><img src="<tmpl_var name="image">" width="16" height="16" alt="<tmpl_var name="entry">" border="0"></a>
							<a href="index.php?iid=dir&down=<tmpl_var name="urlencode1">"><tmpl_var name="entry"></a>
						<tmpl_else>
							<img src="<tmpl_var name="image">" width="16" height="16" alt="<tmpl_var name="entry">" border="0">
							<tmpl_var name="entry">
						</tmpl_if>
					</td>
					<tmpl_if name="enable_dirstats" value="1">
						<td align="right" nowrap><tmpl_var name="size"></td>
						<td width="140" nowrap><tmpl_var name="date"></td>
					</tmpl_if>
					<td align="right" nowrap>
						<tmpl_if name="show_rar" value="1">
							<a href="javascript:UncompDetails('index.php?iid=uncomp&file=<tmpl_var escape="url" name="urlencode1">&dir=<tmpl_var escape="url" name="urlencode2">&type=rar')"><img src="themes/default/images/rar_enabled.gif" width=16 height=16 title="Unrar" border=0></a>
						<tmpl_elseif name="show_rar" value="2">
							<a href="javascript:UncompDetails('index.php?iid=uncomp&file=<tmpl_var escape="url" name="urlencode1">&dir=<tmpl_var escape="url" name="urlencode2">&type=zip')"><img src="themes/default/images/zip.png" width=16 height=16 title="Unzip" border=0></a>
						</tmpl_if>
						<tmpl_if name="show_nfo" value="1">
							<a href="index.php?iid=viewnfo&path=<tmpl_var escape="url" name="urlencode1">"><img src="themes/default/images/view_nfo.gif" width=16 height=16 title="View <tmpl_var name="entry">" border=0></a>
						</tmpl_if>
						<tmpl_if name="enable_vlc" value="1">
							<a href="JavaScript:StreamMultimedia('index.php?iid=vlc&dir=<tmpl_var name="urlencode2">&file=<tmpl_var name="urlencode3">')"><img src="themes/default/images/vlc.png" width="16" height="16" title="Stream Multimedia (vlc)" border="0"></a>
						</tmpl_if>
						<tmpl_if name="enable_rename" value="1">
							<a href="JavaScript:rename('index.php?iid=rename&dir=<tmpl_var escape="url" name="urlencode2">&file=<tmpl_var name="urlencode3">&start=true')"><img src="themes/default/images/rename.gif" width="16" height="16" title="<tmpl_var name="_DIR_REN_LINK">" border="0"></a>
						</tmpl_if>
						<tmpl_if name="enable_move" value="1">
							<a href="JavaScript:moveFile('index.php?iid=move&path=<tmpl_var escape="url" name="urlencode1">&start=true')"><img src="themes/default/images/_move.gif" width=16 height=16 title="<tmpl_Var name="_DIR_MOVE_LINK">" border="0"></a>
						</tmpl_if>
						<tmpl_if name="enable_maketorrent" value="1">
							<a href="JavaScript:MakeTorrent('index.php?iid=maketorrent&path=<tmpl_var escape="url" name="urlencode1">')"><img src="themes/default/images/make.gif" width=16 height=16 title="Make Torrent" border=0></a>
						</tmpl_if>
						<tmpl_if name="enable_file_download" value="1">
							<a href="index.php?iid=dir&down=<tmpl_var name="urlencode1">"><img src="themes/default/images/download_owner.gif" width=16 height=16 title="Download" border=0></a>
						</tmpl_if>
						<tmpl_if name="aclWrite" value="1">
							<a href="index.php?iid=dir&del=<tmpl_Var name="urlencode1">" onclick="return confirm('<tmpl_var name="_ABOUTTODELETE"> : <tmpl_var name="addslashes1">')"><img src="themes/default/images/delete_on.gif" width=16 height=16 title="<tmpl_var name="_DELETE">" border=0></a>
							<input type="checkbox" name="file[]" value="<tmpl_var name="urlencode1">">
						<tmpl_else>
							<img src="themes/default/images/delete_off.gif" width=16 height=16 title="<tmpl_var name="_DELETE">" border=0>
							<input type="checkbox" name="file[]" disabled>
						</tmpl_if>
					</td>
				</tmpl_if>
			</tr>
		</tmpl_loop>
		<input type="hidden" name="action" value="fileDelete">
		<tr bgcolor="#A2BED4">
			<tmpl_if name="enable_dirstats" value="1">
				<td align="right" colspan="4">
			<tmpl_else>
				<td align="right" colspan="2">
			</tmpl_if>
					<a href="javascript:document.multidir.submit()" onclick="return confirm('<tmpl_var name="_ABOUTTODELETE"> : Multiple Files')"><img src="themes/default/images/delete_on.gif" title="Delete" border="0" height="16" width="16"></a>
					<input type="checkbox" onclick="checkCheck(this);" />
				</td>
		</tr>
	</tmpl_if>
<tmpl_if name="enable_dirstats" value="1">
	<tr bgcolor="#829FB5">
		<td align="center" colspan="4"><tmpl_var name="_TDDU"> <tmpl_var name="duTotal"></td>
	</tr>
</tmpl_if>
</table>
</form>
<tmpl_include name="inc.subfoot.tmpl">