<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<tmpl_include name="inc.adminmenu.tmpl">
<table width="100%" border="2" bgcolor="#829FB5" bordercolor="#829FB5" cellpadding="2" cellspacing="0">
	<tr>
		<td>
			<div align="center">
				<a href="admin.php?op=CreateUser"><font class="adminlink">create user</font></a>
			</div>
		</td>
	</tr>
</table>
<br>
<tmpl_include name="inc.userSection.tmpl">
<tmpl_include name="inc.subfoot.tmpl">