<table class="subtable" cellspacing="0">
<thead>
<tr class="subtableheading">
	<th>
		<a href="index.php?iid=transferStats&amp;transfer=<tmpl_var name="transfer">">Stats</a>
		&nbsp;|&nbsp;
		<a href="index.php?iid=transferHosts&amp;transfer=<tmpl_var name="transfer">">Hosts</a>
		&nbsp;|&nbsp;
		<a href="index.php?iid=transferScrape&amp;transfer=<tmpl_var name="transfer">">Scrape</a>
		&nbsp;|&nbsp;
		<a href="index.php?iid=transferImages&amp;transfer=<tmpl_var name="transfer">">Images</a>
		&nbsp;|&nbsp;
		<a href="index.php?iid=transferLog&amp;transfer=<tmpl_var name="transfer">">Log</a>
		&nbsp;|&nbsp;
		<a href="index.php?iid=transferDetails&amp;transfer=<tmpl_var name="transfer">">Details</a>
		&nbsp;|&nbsp;
		<a href="index.php?iid=transferFiles&amp;transfer=<tmpl_var name="transfer">">Files</a>
		&nbsp;|&nbsp;
		<a href="index.php?iid=transferSettings&amp;transfer=<tmpl_var name="transfer">">Settings</a>
		&nbsp;|&nbsp;
		<a href="index.php?iid=transferControl&amp;transfer=<tmpl_var name="transfer">">Control</a>
	</th>
</tr>
</thead>