<option value="<tmpl_var name="dirtree_dir">"><tmpl_var name="dirtree_dir"></option>
<tmpl_if name="dirtree_retvar_list">
	<tmpl_loop name="dirtree_retvar_list">
		<option value="<tmpl_var name="retval">"><tmpl_var name="retval"></option>
	</tmpl_loop>
</tmpl_if>