<table class="subtable" cellspacing="0">
<thead>
<tr class="subtableheading">
	<th>
		<tmpl_if name="is_superadmin">
			<tmpl_var name="adminmenu_superAdminLink">
			&nbsp;|&nbsp;
		</tmpl_if>
		<a href="admin.php?op=serverSettings">Server</a>
		&nbsp;|&nbsp;
		<a href="admin.php?op=transferSettings">Transfer</a>
		&nbsp;|&nbsp;
		<a href="admin.php?op=controlSettings">Control</a>
		&nbsp;|&nbsp;
		<a href="admin.php?op=webappSettings">WebApp</a>
		&nbsp;|&nbsp;
		<a href="admin.php?op=indexSettings">Index</a>
		&nbsp;|&nbsp;
		<a href="admin.php?op=dirSettings">Dir</a>
		&nbsp;|&nbsp;
		<a href="admin.php?op=statsSettings">Stats</a>
		&nbsp;|&nbsp;
		<a href="admin.php?op=fluxdSettings">Fluxd</a>
		&nbsp;|&nbsp;
		<a href="admin.php?op=xferSettings">Xfer</a>
		&nbsp;|&nbsp;
		<a href="admin.php?op=searchSettings">Search</a>
		&nbsp;|&nbsp;
		<a href="admin.php?op=editLinks">Links</a>
		&nbsp;|&nbsp;
		<a href="admin.php?op=editRSS">RSS</a>
		&nbsp;|&nbsp;
		<a href="admin.php?op=showUsers">Users</a>
		&nbsp;|&nbsp;
		<a href="admin.php?op=showUserActivity">Activity</a>
	</th>
</tr>
</thead>