<body <tmpl_if name="onLoad">onload="<tmpl_var name="onLoad">"</tmpl_if>>
<center>
	<table cellspacing="0" style="width:<tmpl_var name="ui_dim_main_w">px;">
	<tbody>
		<tr>
			<td>
				<table cellspacing="0" class="table">
				<thead>
					<tr>
						<td colspan="2" class="tableheading">
							<tmpl_include name="inc.titleBar.tmpl">
						</td>
					</tr>
				</thead>
				<tbody>
					<tr class="tablecontent">
						<td>