<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<br>
<div align="left" id="BodyLayer" name="BodyLayer" style="border: thin solid #829FB5; position:relative; width:740; height:500; padding-left: 5px; padding-right: 5px; z-index:1; overflow: scroll; visibility: visible">
	<br><br>
	<strong>forwarding to <a href="<tmpl_var name="url">"><tmpl_var name="url"></a> ...</strong>
	<br><br>
</div>
<tmpl_include name="inc.subfoot.tmpl">