<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.transferHead.tmpl">
<tmpl_include name="inc.transferNavi.tmpl">
<tbody>
	<tr>
		<td style="height:100%;">
			<div class="logfont"><tmpl_include name="inc.transferDetails.tmpl"></div>
		</td>
	</tr>
</tbody>
</table>
		</td>
	</tr>
</tbody>
</table>
<tmpl_include name="inc.transferFoot.tmpl">