table.transferScrape {
	border-width: 2px 2px 2px 2px;
	border-spacing: 2px;
	border-collapse: separate;
	background-color: #ededed;
	margin: 0 auto;
	width: 500px;
}
table.transferScrape th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	-moz-border-radius: 0px 0px 0px 0px;
	text-align: left;
}
table.transferScrape td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	-moz-border-radius: 0px 0px 0px 0px;
	text-align: left;
	font-size: 14px;
}