#transferStats {
	border-width: 1px;
	border-spacing: 2px;
	border-collapse: seperate;
	background-color: #ededed;
	margin: 0 auto;
	width: 500px;
}
#transferStats th {
	-moz-border-radius: 0px 0px 0px 0px;
	text-align: right;
	font-size: 12px;
	background-color: #ddd;
	padding-right: 5px;
	width: 30%
}

#transferStats td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	-moz-border-radius: 0px 0px 0px 0px;
	text-align: left;
	font-size: 12px;
	width: 25%;
}