<table width="100%" bordercolor="<tmpl_var name="table_border_dk">" bgcolor="<tmpl_var name="table_header_bg">" cellpadding="4" cellspacing="0" border="0">
	<tr>
		<td align="left" nowrap>
			<a href="index.php?iid=transferStats&transfer=<tmpl_var name="transfer">">Stats</a>
			 |
			<a href="index.php?iid=transferHosts&transfer=<tmpl_var name="transfer">">Hosts</a>
			 |
			<a href="index.php?iid=transferScrape&transfer=<tmpl_var name="transfer">">Scrape</a>
			 |
			<a href="index.php?iid=transferImages&transfer=<tmpl_var name="transfer">">Images</a>
			 |
			<a href="index.php?iid=transferLog&transfer=<tmpl_var name="transfer">">Log</a>
			 |
			<a href="index.php?iid=transferDetails&transfer=<tmpl_var name="transfer">">Details</a>
			 |
			<a href="index.php?iid=transferFiles&transfer=<tmpl_var name="transfer">">Files</a>
			 |
			<a href="index.php?iid=transferSettings&transfer=<tmpl_var name="transfer">">Settings</a>
			 |
			<a href="index.php?iid=transferControl&transfer=<tmpl_var name="transfer">">Control</a>
		</td>
	</tr>
</table>