<select name="index_page_sortorder" id="index_page_sortorder">
	<option value="da" <tmpl_if name="index_page_sortorder" value="da">selected</tmpl_if>>
		Date - Ascending
	</option>
	<option value="dd" <tmpl_if name="index_page_sortorder" value="dd">selected</tmpl_if>>
		Date - Descending
	</option>
	<option value="na" <tmpl_if name="index_page_sortorder" value="na">selected</tmpl_if>>
		Name - Ascending
	</option>
	<option value="nd" <tmpl_if name="index_page_sortorder" value="nd">selected</tmpl_if>>
		Name - Descending
	</option>
</select>