<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<tmpl_include name="inc.adminmenu.tmpl">
<br>
<div align="center">
	<tmpl_var name="_ERROR">
	<br>
	<tmpl_var name="errMsgUsername">
	<tmpl_var name="errMsgPassword">
	<tmpl_var name="errMsgEmail">
</div>
<br><br><br>
<tmpl_include name="inc.subfoot.tmpl">
