<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<tmpl_include name="inc.adminmenu.tmpl">
<br>
<div align="center">
	<tmpl_var name="_TRYDIFFERENTUSERID">
	<br>
	<strong><tmpl_var name="newUser"></strong>
	<tmpl_var name="_HASBEENUSED">
</div>
<br><br><br>
<tmpl_include name="inc.subfoot.tmpl">