<div id="upload">
	<div id="uploadLast"></div>
	<div id="uploadFirst">
		<span class="upload_first">
			<a class="upload" href="index.php?iid=transferStats&transfer=<tmpl_var name="transfer">">Stats</a>
		</span>
		<span class="upload">
			<a class="upload" href="index.php?iid=transferHosts&transfer=<tmpl_var name="transfer">">Hosts</a>
		</span>
		<span class="upload">
			<a class="upload" href="index.php?iid=transferScrape&transfer=<tmpl_var name="transfer">">Scrape</a>
		</span>
		<span class="upload">
			<a class="upload" href="index.php?iid=transferImages&transfer=<tmpl_var name="transfer">">Images</a>
		</span>
		<span class="upload">
			<a class="upload" href="index.php?iid=transferLog&transfer=<tmpl_var name="transfer">">Log</a>
		</span>
		<span class="upload">
			<a class="upload" href="index.php?iid=transferDetails&transfer=<tmpl_var name="transfer">">Details</a>
		</span>
		<span class="upload">
			<a class="upload" href="index.php?iid=transferFiles&transfer=<tmpl_var name="transfer">">Files</a>
		</span>
		<span class="upload">
			<a class="upload" href="index.php?iid=transferSettings&transfer=<tmpl_var name="transfer">">Settings</a>
		</span>
		<span class="upload_last">
			<a class="upload" href="index.php?iid=transferControl&transfer=<tmpl_var name="transfer">">Control</a>
		</span>
	</div>
</div>