<table>
	<tr>
		<td align="right" nowrap><label for="index_page_settings_0">Owner:</label><input name="index_page_settings_0" id="index_page_settings_0" type="Checkbox" value="1" <tmpl_if name="indexPageSettingsForm_settings_0">checked</tmpl_if>></td>
		<td align="right" nowrap><label for="index_page_settings_1">Size:</label><input name="index_page_settings_1" id="index_page_settings_1" type="Checkbox" value="1" <tmpl_if name="indexPageSettingsForm_settings_1">checked</tmpl_if>></td>
	</tr>
	<tr>
		<td align="right" nowrap><label for="index_page_settings_2">Total Down:</label><input name="index_page_settings_2" id="index_page_settings_2" type="Checkbox" value="1" <tmpl_if name="indexPageSettingsForm_settings_2">checked</tmpl_if>></td>
		<td align="right" nowrap><label for="index_page_settings_3">Total Up:</label><input name="index_page_settings_3" id="index_page_settings_3" type="Checkbox" value="1" <tmpl_if name="indexPageSettingsForm_settings_3">checked</tmpl_if>></td>
	</tr>
	<tr>
		<td align="right" nowrap><label for="index_page_settings_4">Status:</label><input name="index_page_settings_4" id="index_page_settings_4" type="Checkbox" value="1" <tmpl_if name="indexPageSettingsForm_settings_4">checked</tmpl_if>></td>
		<td align="right" nowrap><label for="index_page_settings_5">Progress:</label><input name="index_page_settings_5" id="index_page_settings_5" type="Checkbox" value="1" <tmpl_if name="indexPageSettingsForm_settings_5">checked</tmpl_if>></td>
	</tr>
	<tr>
		<td align="right" nowrap><label for="index_page_settings_6">Down-Speed:</label><input name="index_page_settings_6" id="index_page_settings_6" type="Checkbox" value="1" <tmpl_if name="indexPageSettingsForm_settings_6">checked</tmpl_if>></td>
		<td align="right" nowrap><label for="index_page_settings_7">Up-Speed:</label><input name="index_page_settings_7" id="index_page_settings_7" type="Checkbox" value="1" <tmpl_if name="indexPageSettingsForm_settings_7">checked</tmpl_if>></td>
	</tr>
	<tr>
		<td align="right" nowrap><label for="index_page_settings_8">Seeds:</label><input name="index_page_settings_8" id="index_page_settings_8" type="Checkbox" value="1" <tmpl_if name="indexPageSettingsForm_settings_8">checked</tmpl_if>></td>
		<td align="right" nowrap><label for="index_page_settings_9">Peers:</label><input name="index_page_settings_9" id="index_page_settings_9" type="Checkbox" value="1" <tmpl_if name="indexPageSettingsForm_settings_9">checked</tmpl_if>></td>
	</tr>
	<tr>
		<td align="right" nowrap><label for="index_page_settings_10">Estimated Time:</label><input name="index_page_settings_10" id="index_page_settings_10" type="Checkbox" value="1" <tmpl_if name="indexPageSettingsForm_settings_10">checked</tmpl_if>></td>
		<td align="right" nowrap><label for="index_page_settings_11">Client:</label><input name="index_page_settings_11" id="index_page_settings_11" type="Checkbox" value="1" <tmpl_if name="indexPageSettingsForm_settings_11">checked</tmpl_if>></td>
	</tr>
</table>