<form name="settingsForm" action="index.php?iid=profile&op=updateSettingsUser" method="post" onsubmit="return validateSettings('')">
	<table id="settings">
		<tr>
			<td class="settingsTitle">
				<label for="enable_index_meta_refresh">Page Refresh</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="enable_index_meta_refresh" id="enable_index_meta_refresh">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="enable_index_meta_refresh" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Enable/disable page refresh
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="page_refresh">Page Refresh Interval</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<input name="page_refresh" id="page_refresh" type="Text" maxlength="3" value="<tmpl_var name="page_refresh">" size="3">
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Number of seconds between page refreshes
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="enable_index_ajax_update">AJAX Update</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="enable_index_ajax_update" id="enable_index_ajax_update">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="enable_index_ajax_update" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Enable/disable AJAX updates
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="enable_index_ajax_update_title">Page title AJAX Update</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="enable_index_ajax_update_title" id="enable_index_ajax_update_title">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="enable_index_ajax_update_title" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Enable/disable update of page title in AJAX updates
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="enable_index_ajax_update_users">User list AJAX Update</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="enable_index_ajax_update_users" id="enable_index_ajax_update_users">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="enable_index_ajax_update_users" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Enable/disable update of the user list in AJAX Updates
			</td>
		</tr>
				<tr>
			<td class="settingsTitle">
				<label for="enable_index_ajax_update_list">Transfer List AJAX Update</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="enable_index_ajax_update_list" id="enable_index_ajax_update_list">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="enable_index_ajax_update_list" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Enable/disable update of the transfer list in AJAX updates
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="enable_index_ajax_update_silent">Silent AJAX Update</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="enable_index_ajax_update_silent" id="enable_index_ajax_update_silent">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="enable_index_ajax_update_silent" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Do not display &quot;Update in Progress...&quot; during	AJAX updates
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="index_ajax_update">AJAX Update Interval</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<input name="index_ajax_update" id="index_ajax_update" type="Text" maxlength="3" value="<tmpl_var name="index_ajax_update">" size="3">
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Number of seconds between AJAX updates (default: 5)
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="ui_dim_main_w">Width</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<input name="ui_dim_main_w" id="ui_dim_main_w" type="Text" maxlength="5" value="<tmpl_var name="ui_dim_main_w">" size="5">
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Width in pixels of the index page (default: 900)
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="ui_displaylinks">Display Links</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="ui_displaylinks" id="ui_displaylinks">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="ui_displaylinks" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Display list of links on the index page
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="ui_displayusers">Display Users</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="ui_displayusers" id="ui_displayusers">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="ui_displayusers" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Display users on the index page
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="enable_goodlookstats">Enable Good Looking Statistics</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="enable_goodlookstats" id="enable_goodlookstats">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="enable_goodlookstats" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Enable/disable &quot;Good looking statistics&quot;
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				Good Looking Statistics Settings
			</td>
			<td class="settingsSetting" rowspan="2">
				<tmpl_include name="inc.goodLookingStatsForm.tmpl">
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Select Fields shown in &quot;Good looking statistics&quot;
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="ui_displaybandwidthbars"Display Bandwidth Bars</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="ui_displaybandwidthbars" id="ui_displaybandwidthbars">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="ui_displaybandwidthbars" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Display bandwidth usage bars
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="bandwidthbar">Bandwidth Bars Style</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="bandwidthbar" id="bandwidthbar">
					<option value="tf"
					<tmpl_if name="bandwidthbar" value="tf">
						 selected
					</tmpl_if>
					>tf</option>
					<option value="xfer"
					<tmpl_if name="bandwidthbar" value="xfer">
						 selected
					</tmpl_if>
					>xfer</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Select style of bandwidth bars
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="enable_bigboldwarning">Big Bold Drivespace Warning</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="enable_bigboldwarning" id="enable_bigboldwarning">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="enable_bigboldwarning" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Enable/disable drivespace warning when disk space low
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="index_show_seeding">Show Seeding Torrents</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="index_show_seeding" id="index_show_seeding">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="index_show_seeding" value="0">
						selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Display seeding torrents on index page
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="display_seeding_time">Estimated Time To Seed</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="display_seeding_time" id="display_seeding_time">
                    <option value="1">true</option>
                    <option value="0"
                    <tmpl_if name="display_seeding_time" value="0">
                             selected
                    </tmpl_if>
                    >false</option>
                </select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Display the estimated time until transfers reach seeding cutoff ratio
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="enable_sorttable">Transfer List Sorting</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="enable_sorttable" id="enable_sorttable">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="enable_sorttable" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Enable/disable reordering of transfer list by clicking on column headings
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="index_page_sortorder">Default Transfer List Sort Order</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="index_page_sortorder" id="index_page_sortorder">
					<option value="da" <tmpl_if name="index_page_sortorder" value="da">selected</tmpl_if>>
						Date - Ascending
					</option>
					<option value="dd" <tmpl_if name="index_page_sortorder" value="dd">selected</tmpl_if>>
						Date - Descending
					</option>
					<option value="na" <tmpl_if name="index_page_sortorder" value="na">selected</tmpl_if>>
						Name - Ascending
					</option>
					<option value="nd" <tmpl_if name="index_page_sortorder" value="nd">selected</tmpl_if>>
						Name - Descending
					</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Select default sort order of transfers in transfer list
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				Transfer List Display
			</td>
			<td class="settingsSetting" rowspan="2">
				<tmpl_include name="inc.indexPageSettingsForm.tmpl">
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Select the information to display in the transfer list
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="transfer_window_default">Default Page In Transfer Settings Window</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="transfer_window_default" id="transfer_window_default">
					<tmpl_loop name="transfer_window_default_list">
						<option value="<tmpl_var name="value">"<tmpl_if name="is_selected" value="1"> selected</tmpl_if>>
							<tmpl_var name="name">
						</option>
					</tmpl_loop>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Select the default page to display in the transfer settings window
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="index_page_stats">Server Stats</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="index_page_stats" id="index_page_stats">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="index_page_stats" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Enable/disable display of server stats on index page
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="index_page_connections">Network Connections</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="index_page_connections" id="index_page_connections">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="index_page_connections" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Enable/disable display of total network connections
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="show_server_load">Show Server Load</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="show_server_load" id="show_server_load">
					<option value="1">true</option>
					<option value="0"
					<tmpl_if name="show_server_load" value="0">
						 selected
					</tmpl_if>
					>false</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Enable/disable display of average server load over the last 15 minutes
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="drivespacebar">Drivespace Bar Style</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="drivespacebar" id="drivespacebar">
					<option value="tf"
					<tmpl_if name="drivespacebar" value="tf">
						 selected
					</tmpl_if>
					>tf</option>
					<option value="xfer"
					<tmpl_if name="drivespacebar" value="xfer">
						 selected
					</tmpl_if>
					>xfer</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Select style of drivespace bar
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="transferStatsType">Transfer Stats Window Update Method</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="transferStatsType" id="transferStatsType">
					<option value="standard">standard</option>
					<option value="ajax"
					<tmpl_if name="transferStatsType" value="ajax">
						 selected
					</tmpl_if>
					>ajax</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Select method to use to update transfer stats window
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="transferStatsUpdate">Transfer Stats Window Update Interval</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<input name="transferStatsUpdate" id="transferStatsUpdate" type="Text" maxlength="3" value="<tmpl_var name="transferStatsUpdate">" size="3">
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Number of seconds between transfer stats updates
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="transferHosts">Transfer Hosts</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<select name="transferHosts" id="transferHosts">
					<option value="1">Hostnames</option>
					<option value="0"
					<tmpl_if name="transferHosts" value="0">
						 selected
					</tmpl_if>
					>IPs</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Enable/disable display of connected hosts in transfer hosts window
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
				<label for="servermon_update">Server Monitor Update Interval</label>
			</td>
			<td class="settingsSetting" rowspan="2">
				<input name="servermon_update" id="servermon_update" type="Text" maxlength="3" value="<tmpl_var name="servermon_update">" size="3">
			</td>
		</tr>
		<tr>
			<td class="settingsText">
				Number of seconds between server monitor updates for server monitor update
			</td>
		</tr>
		<tr>
			<td class="settingsTitle">
			</td>
			<td class="settingsSetting">
				<input type="Submit" value="Update Settings">
			</td>
		</tr>
	</table>
</form>