<div id="upload">
	<div id="uploadLast"></div>
	<div id="uploadFirst">
		<span class="upload">
			<tmpl_var name="_ID_CONNECTIONS">
		</span>
	</div>
</div>
<div id="fileUpload" class="uploadClass">
	<tmpl_var name="netstatConnectionsSum">
</div>
<div id="uploadBottom"></div>
<div id="uploadBottomEnd"></div>
<div id="upload">
	<div id="uploadLast"></div>
	<div id="uploadFirst">
		<span class="upload">
			<tmpl_var name="_ID_PORTS">
		</span>
	</div>
</div>
<div id="fileUpload" class="uploadClass">
	<tmpl_var name="netstatPortList">
</div>
<div id="uploadBottom"></div>
<div id="uploadBottomEnd"></div>
<div id="upload">
	<div id="uploadLast"></div>
	<div id="uploadFirst">
		<span class="upload">
			<tmpl_var name="_ID_HOSTS">
		</span>
	</div>
</div>
<div id="fileUpload" class="uploadClass">
	<pre>
<tmpl_var name="netstatHostList">
	</pre>
</div>
<div id="uploadBottom"></div>
<div id="uploadBottomEnd"></div>