<div id="upload">
	<div id="uploadLast"></div>
	<div id="uploadFirst">
		<span class="upload">
			<tmpl_var name="_USERDETAILS">
		</span>
	</div>
</div>
<div class="uploadClass">
	<table id="statusInfos">
		<tr>
			<td class="buttonLinks">
				<span id="newUser"><tmpl_var name="_USER"></span>
			</td>
			<td class="buttonLinks">
				<span id="newUser">Disk</span>
			</td>
			<tmpl_if name="enable_xfer">
				<td class="buttonLinks">
					<span id="newUser">xfer</span>
				</td>
			</tmpl_if>
			<td class="buttonLinks">
				<span id="newUser"><tmpl_var name="_HITS"></span>
			</td>
			<td class="buttonLinks">
				<span id="newUser"><tmpl_var name="_UPLOADACTIVITY"> (<tmpl_var name="days_to_keep"> <tmpl_var name="_DAYS">)</span>
			</td>
			<td class="buttonLinks">
				<span id="newUser"><tmpl_var name="_JOINED"></span>
			</td>
			<td class="buttonLinks">
				<span id="newUser"><tmpl_var name="_LASTVISIT"></span>
			</td>
			<td class="buttonLinks">
				<span id="newUser"><tmpl_var name="_ADMIN"></span>
			</td>
		</tr>
		<tmpl_loop name="user_details_list">
			<tr>
				<tmpl_if name="is_user">
					<td class="buttonLinks">
						<a id="closeLink" href="index.php?iid=message&to_user=<tmpl_var name="user_id">"><tmpl_var name="user_id"></a>
					</td>
				<tmpl_else>
					<td class="buttonLinks">
						<tmpl_var name="user_id">
					</td>
				</tmpl_if>
				<td class="buttonLinks">
					<a id="closeLink" href="index.php?iid=dir&dir=<tmpl_var name="user_id">"><tmpl_var name="disk_usage"></a>
				</td>
				<tmpl_if name="enable_xfer">
					<td class="buttonLinks">
						<a id="closeLink" href="index.php?iid=xfer&op=xfer&user=<tmpl_var name="user_id">"><tmpl_var name="xfer_usage"></a>
					</td>
				</tmpl_if>
				<td class="buttonLinks">
					<tmpl_var name="hits">
				</td>
				<td class="buttonLinks">
					<tmpl_var name="user_activity"> (<tmpl_var name="user_percent">%)
				</td>
				<td class="buttonLinks">
					<tmpl_var name="time_created">
				</td>
				<td class="buttonLinks">
					<tmpl_var name="last_visit">
				</td>
				<td class="buttonLinks">
					<tmpl_if name="is_superadmin">
						<a href="admin.php?op=editUser&user_id=<tmpl_var name="user_id">"><img src='themes/<tmpl_var name="theme">/pics/edit.jpg' alt="<tmpl_var name="_EDIT"> <tmpl_var name="user_id">"></a>
					</tmpl_if>
					<tmpl_if name="user_level" op="<=" value="1">
					<a href="admin.php?op=deleteUser&user_id=<tmpl_var name="user_id">"><img src='themes/<tmpl_var name="theme">/pics/delete.jpg' alt="<tmpl_var name="_DELETE"> <tmpl_var name="user_id">" onclick="return ConfirmDeleteUser('<tmpl_var name="user_id">')"></a>
					</tmpl_if>
				</td>
			</tr>
		</tmpl_loop>
	</table>
	<script language="JavaScript">
	function ConfirmDeleteUser(user) {
		return confirm("<tmpl_var name="_WARNING">: <tmpl_var name="_ABOUTTODELETE">: " + user)
	}
</script>
</div>