<table>
	<tr>
		<td align="right" nowrap><label for="hack_goodlookstats_settings_0">Download Speed:</label><input name="hack_goodlookstats_settings_0" id="hack_goodlookstats_settings_0" type="Checkbox" value="1" <tmpl_if name="goodLookingStatsForm_settings_0">checked</tmpl_if>></td>
		<td align="right" nowrap><label for="hack_goodlookstats_settings_1">Upload Speed:</label><input name="hack_goodlookstats_settings_1" id="hack_goodlookstats_settings_1" type="Checkbox" value="1" <tmpl_if name="goodLookingStatsForm_settings_1">checked</tmpl_if>></td>
	</tr>
	<tr>
		<td align="right" nowrap><label for="hack_goodlookstats_settings_2">Total Speed:</label><input name="hack_goodlookstats_settings_2" id="hack_goodlookstats_settings_2" type="Checkbox" value="1" <tmpl_if name="goodLookingStatsForm_settings_2">checked</tmpl_if>></td>
		<td align="right" nowrap><label for="hack_goodlookstats_settings_3">Connections:</label><input name="hack_goodlookstats_settings_3" id="hack_goodlookstats_settings_3" type="Checkbox" value="1" <tmpl_if name="goodLookingStatsForm_settings_3">checked</tmpl_if>></td>
	</tr>
	<tr>
		<td align="right" nowrap><label for="hack_goodlookstats_settings_4">Drive Space:</label><input name="hack_goodlookstats_settings_4" id="hack_goodlookstats_settings_4" type="Checkbox" value="1" <tmpl_if name="goodLookingStatsForm_settings_4">checked</tmpl_if>></td>
		<td align="right" nowrap><label for="hack_goodlookstats_settings_5">Server Load:</label><input name="hack_goodlookstats_settings_5" id="hack_goodlookstats_settings_5" type="Checkbox" value="1" <tmpl_if name="goodLookingStatsForm_settings_5">checked</tmpl_if>></td>
	</tr>
</table>