<div id="upload">
	<div id="uploadLast"></div>
	<div id="uploadFirst">
		<span class="upload">
			Drivespace
		</span>
	</div>
</div>
<div id="fileUpload" class="uploadClass">
	<pre>
		<tmpl_var name="drivespace_df">
		<br />
		<tmpl_var name="drivespace_du">
	</pre>
</div>
<div id="uploadBottom"></div>
<div id="uploadBottomEnd"></div>