<div id="upload">
	<div id="uploadLast"></div>
	<div id="uploadFirst">
		<span class="upload">
			<tmpl_var name="_DRIVESPACE">
		</span>
	</div>
</div>
<div id="fileUpload" class="uploadClass">
	<pre>
		<tmpl_var name="all_df">
		<br />
		<tmpl_var name="all_du">
	</pre>
</div>
<div id="uploadBottom"></div>
<div id="uploadBottomEnd"></div>
<div id="upload">
	<div id="uploadLast"></div>
	<div id="uploadFirst">
		<span class="upload">
			<tmpl_var name="_SERVERSTATS">
		</span>
	</div>
</div>
<div id="fileUpload" class="uploadClass">
	<pre>
		<tmpl_var name="all_w">
		<br />
		<tmpl_var name="all_free">
	</pre>
</div>
<div id="uploadBottom"></div>
<div id="uploadBottomEnd"></div>