<tmpl_include name="inc.head.tmpl">
<body>
<tmpl_include name="inc.titleBar.tmpl">
<div id="content">
	<form name="form_file" action="dispatcher.php?action=fileUpload" method="post" enctype="multipart/form-data">
		<tmpl_loop name="row_list">
			<label for="upload_files_1_<tmpl_var name="__ROWNUM__">"><tmpl_var name="_SELECTFILE">:</label>
			<input type="file" name="upload_files[]" id="upload_files_1_<tmpl_var name="__ROWNUM__">" size="40"><br>
			<label for="upload_files_2_<tmpl_var name="__ROWNUM__">"><tmpl_var name="_SELECTFILE">:</label>
			<input type="file" name="upload_files[]" id="upload_files_2_<tmpl_var name="__ROWNUM__">" size="40"><br>
		</tmpl_loop>
		<select name="aid" size="1">
			<option value="1" selected><tmpl_var name="_UPLOAD"></option>
			<tmpl_if name="queueActive" value="1">
				<tmpl_if name="isAdmin">
					<option value="2"><tmpl_var name="_UPLOAD">+Start</option>
				</tmpl_if>
				<option value="3"><tmpl_var name="_UPLOAD">+Queue</option>
			<tmpl_else>
				<option value="2"><tmpl_var name="_UPLOAD">+Start</option>
			</tmpl_if>
		</select>
		<input type="Submit" value="Go">
	</form>
	<br />
	valid Metafile-types : <tmpl_var name="file_types_label">
	<tmpl_include name="inc.subfoot.tmpl">
</div>