<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/adminSettings.js" type="text/javascript"></script>
<div id="content">
	<form name="theForm" action="admin.php?op=updateServerSettings" method="post" onsubmit="return validateSettings('server')">
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					Torrentflux-b4rt Paths
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						<label for="path">
							<tmpl_if name="is_path" value="1">
								<tmpl_if name="is_writable" value="1">
									Transfer Parent Path
								<tmpl_else>
									Transfer Parent Path is not writable
								</tmpl_if>
							<tmpl_else>
								Transfer Parent Path is not valid
							</tmpl_if>
						</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="path" id="path" type="Text" maxlength="254" value="<tmpl_var name="path">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Define the main torrentflux-b4rt parent path.<br/>
						Directory must be writable by the webserver user.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="docroot">
							<tmpl_if name="is_docroot" value="1">
								Document Root Path
							<tmpl_else>
								Document Root Path is not valid
							</tmpl_if>
						</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="docroot" id="docroot" type="Text" maxlength="254" value="<tmpl_var name="docroot">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Define the Document Root path of the installation.<br/>
						Directory must be readable by the webserver user.
					</td>
				</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					Home Directories
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table>
				<tr>
					<td class="settingsTitle">
						<label for="enable_home_dirs">Enable Home Directories</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_home_dirs" id="enable_home_dirs">
							<option value="1">True</option>
							<option value="0"
							<tmpl_if name="enable_home_dirs" value="0">
								 selected
							</tmpl_if>
							>False</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/disable home directories.<br/>
						If disabled all downloads are saved to the 'incoming' directory specified below.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="path_incoming">
							<tmpl_if name="path_incoming_ok" value="1">
								Incoming
							<tmpl_else>
								Incoming is not valid
							</tmpl_if>
						</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="path_incoming" id="path_incoming" type="Text" maxlength="254" value="<tmpl_var name="path_incoming">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Define the incoming path where downloads are saved when per user home directories are disabled.
					</td>
				</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					Binary Paths
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						<label for="btclient_transmission_bin">transmissioncli</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="btclient_transmission_bin" id="btclient_transmission_bin" type="Text" maxlength="254" value="<tmpl_var name="btclient_transmission_bin">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the Transmission binary (/usr/local/bin/transmissioncli).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="bin_wget">wget</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_wget" id="bin_wget" type="Text" maxlength="254" value="<tmpl_var name="bin_wget">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the wget binary (/usr/bin/wget).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="bin_uudeview">uudeview</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_uudeview" id="bin_uudeview" type="Text" maxlength="254" value="<tmpl_var name="bin_uudeview">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the uudeview binary (needed for nzbperl) (/usr/local/bin/uudeview).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="bin_php">php</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_php" id="bin_php" type="Text" maxlength="254" value="<tmpl_var name="bin_php">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the commandline (cli) php binary (/usr/bin/php).<br/>
						<strong>Note: </strong>This must be the cli version of the PHP binary, NOT cgi or otherwise.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="pythonCmd">python</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="pythonCmd" id="pythonCmd" type="Text" maxlength="254" value="<tmpl_var name="pythonCmd">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the python binary (/usr/bin/python).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="perlCmd">perl</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="perlCmd" id="perlCmd" type="Text" maxlength="254" value="<tmpl_var name="perlCmd">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to perl (/usr/bin/perl).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="bin_grep">grep</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_grep" id="bin_grep" type="Text" maxlength="254" value="<tmpl_var name="bin_grep">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the grep binary (/bin/grep).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="bin_awk">awk</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_awk" id="bin_awk" type="Text" maxlength="254" value="<tmpl_var name="bin_awk">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the awk binary (/usr/bin/awk).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="bin_du">du</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_du" id="bin_du" type="Text" maxlength="254" value="<tmpl_var name="bin_du">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the du binary (/usr/bin/du).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="bin_unzip">unzip</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_unzip" id="bin_unzip" type="Text" maxlength="254" value="<tmpl_var name="bin_unzip">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the unzip binary (/usr/bin/unzip).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="bin_cksfv">cksfv</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_cksfv" id="bin_cksfv" type="Text" maxlength="254" value="<tmpl_var name="bin_cksfv">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the cksfv binary (/usr/bin/cksfv).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="bin_vlc">vlc</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_vlc" id="bin_vlc" type="Text" maxlength="254" value="<tmpl_var name="bin_vlc">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the vlc binary (/usr/local/bin/vlc).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="bin_unrar">unrar</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_unrar" id="bin_unrar" type="Text" maxlength="254" value="<tmpl_var name="bin_unrar">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the unrar binary (/usr/bin/unrar).
					</td>
				</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					OS Specific (<tmpl_var name="php_uname1"> <tmpl_var name="php_uname2">)
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table id="settings">
				<tmpl_if name="_OS" value="1">
					<tr>
						<td class="settingsTitle">
							<label for="loadavg_path">loadavg</label>
						</td>
						<td class="settingsSetting" rowspan="2">
							<input name="loadavg_path" id="loadavg_path" type="Text" maxlength="254" value="<tmpl_var name="loadavg_path">" size="30">
						</td>
					</tr>
					<tr>
						<td class="settingsText">
							Path to the loadavg file (/proc/loadavg).
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
							<label for="bin_netstat">netstat</label>
						</td>
						<td class="settingsSetting" rowspan="2">
							<input name="bin_netstat" id="bin_netstat" type="Text" maxlength="254" value="<tmpl_var name="bin_netstat">" size="30">
						</td>
					</tr>
					<tr>
						<td class="settingsText">
							Specify the path to the netstat binary (/bin/netstat).
						</td>
					</tr>
				<tmpl_elseif name="_OS" value="2">
					<tr>
						<td class="settingsTitle">
							<label for="bin_sockstat">sockstat</label>
						</td>
						<td class="settingsSetting" rowspan="2">
							<input name="bin_sockstat" id="bin_sockstat" type="Text" maxlength="254" value="<tmpl_var name="bin_sockstat">" size="30">
						</td>
					</tr>
					<tr>
						<td class="settingsText">
							Specify the path to the sockstat binary (/usr/bin/sockstat).
						</td>
					</tr>
				</tmpl_if>
				<tr>
					<td class="settingsTitle">
					</td>
					<td class="settingsSetting">
						<input type="Submit" value="Update Settings">
					</td>
				</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
	</form>
	<tmpl_include name="inc.subfoot.tmpl">
</div>
</body>
</html>
