<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<div id="content">
	<span id="titles">forwarding to <a id="link" href="<tmpl_var name="url">"><tmpl_var name="url"></a> ...</span>
	<tmpl_include name="inc.subfoot.tmpl">
</div>