<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<div id="content">
	<div id="upload">
		<div id="uploadLast"></div>
		<div id="uploadFirst">
			<span class="upload">
				<tmpl_var name="_TRYDIFFERENTUSERID">
			</span>
		</div>
	</div>
	<div class="uploadClass">
		<span id="newUser"><tmpl_var name="newUser"></span>
		<tmpl_var name="_HASBEENUSED">
	</div>
	<div id="uploadBottom"></div>
	<div id="uploadBottomEnd"></div>
	<tmpl_include name="inc.subfoot.tmpl">
</div>
</body>
</html>