<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><tmpl_var name="pagetitle"></title>
	<link rel="StyleSheet" href="themes/<tmpl_var name="theme">/css/default.css" type="text/css" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta content="charset=<tmpl_var name="_CHARSET">" />
</head>
<body>
	<div id="content">
		<div id="errorTitle"><tmpl_var name="pagetitle"> locked</div>
		<div id="errorMessage">Please try again later.</div>
	</div>
</body>
</html>