<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<div id="content">
	<tmpl_if name="message">
		<tmpl_var name="message">
	</tmpl_if>
	<script src="js/functions.js" type="text/javascript"></script>
	<script src="js/adminSettings.js" type="text/javascript"></script>
	<a name="fluazu" id="fluazu"></a>
	<div id="upload">
		<div id="uploadLast"></div>
		<div id="uploadFirst">
			<span class="upload">
				<span id="fluazuStart">
					<tmpl_if name="pythonMissing">
						<span id="newUser">Python Missing</span>
						<br><br>
						Check <a href="admin.php?op=serverSettings">Server-Settings</a> Page.
					<tmpl_else>
						<tmpl_if name="fluazuRunning">
							<input type="Hidden" name="a" value="stop">
							<input type="Submit" value="Stop fluAzu">
						<tmpl_else>
							<input type="Hidden" name="a" value="start">
							<input type="Submit" value="Start fluAzu">
						</tmpl_if>
					</tmpl_if>
				</span>
			</span>
		</div>
	</div>
	<div class="uploadClass">
		<tmpl_if name="fluazuRunning">
			<form name="azuForm" action="admin.php?op=updateAzureusSettings" method="post" onsubmit="return validateSettings('azureus')">
				<table id="settings">
					<tr>
						<td class="settingsTitle">
							<label for="CORE_PARAM_INT_MAX_ACTIVE">Max Active Torrents:</label>
						</td>
						<td class="settingsSetting">
							<input name="CORE_PARAM_INT_MAX_ACTIVE" id="CORE_PARAM_INT_MAX_ACTIVE" type="Text" maxlength="10" value="<tmpl_var name="CORE_PARAM_INT_MAX_ACTIVE">" size="5">
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
							<label for="CORE_PARAM_INT_MAX_ACTIVE_SEEDING">Max Active Torrents When Only Seeding:</label>
						</td>
						<td class="settingsSetting">
							<input name="CORE_PARAM_INT_MAX_ACTIVE_SEEDING" id="CORE_PARAM_INT_MAX_ACTIVE_SEEDING" type="Text" maxlength="10" value="<tmpl_var name="CORE_PARAM_INT_MAX_ACTIVE_SEEDING">" size="5">
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
							<label for="CORE_PARAM_INT_MAX_CONNECTIONS_GLOBAL">Max Connections Global:</label>
						</td>
						<td class="settingsSetting">
							<input name="CORE_PARAM_INT_MAX_CONNECTIONS_GLOBAL" id="CORE_PARAM_INT_MAX_CONNECTIONS_GLOBAL" type="Text" maxlength="10" value="<tmpl_var name="CORE_PARAM_INT_MAX_CONNECTIONS_GLOBAL">" size="5">
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
							<label for="CORE_PARAM_INT_MAX_CONNECTIONS_PER_TORRENT">Max Connections Per Torrent:</label>
						</td>
						<td class="settingsSetting">
							<input name="CORE_PARAM_INT_MAX_CONNECTIONS_PER_TORRENT" id="CORE_PARAM_INT_MAX_CONNECTIONS_PER_TORRENT" type="Text" maxlength="10" value="<tmpl_var name="CORE_PARAM_INT_MAX_CONNECTIONS_PER_TORRENT">" size="5">
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
							<label for="CORE_PARAM_INT_MAX_DOWNLOAD_SPEED_KBYTES_PER_SEC">Max Download Speed KBs:</label>
						</td>
						<td class="settingsSetting">
							<input name="CORE_PARAM_INT_MAX_DOWNLOAD_SPEED_KBYTES_PER_SEC" id="CORE_PARAM_INT_MAX_DOWNLOAD_SPEED_KBYTES_PER_SEC" type="Text" maxlength="10" value="<tmpl_var name="CORE_PARAM_INT_MAX_DOWNLOAD_SPEED_KBYTES_PER_SEC">" size="5">
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
							<label for="CORE_PARAM_INT_MAX_DOWNLOADS">Max Downloads:</label>
						</td>
						<td class="settingsSetting">
							<input name="CORE_PARAM_INT_MAX_DOWNLOADS" id="CORE_PARAM_INT_MAX_DOWNLOADS" type="Text" maxlength="10" value="<tmpl_var name="CORE_PARAM_INT_MAX_DOWNLOADS">" size="5">
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
							<label for="CORE_PARAM_INT_MAX_UPLOAD_SPEED_KBYTES_PER_SEC">Max Upload Speed KBs:</label>
						</td>
						<td class="settingsSetting">
							<input name="CORE_PARAM_INT_MAX_UPLOAD_SPEED_KBYTES_PER_SEC" id="CORE_PARAM_INT_MAX_UPLOAD_SPEED_KBYTES_PER_SEC" type="Text" maxlength="10" value="<tmpl_var name="CORE_PARAM_INT_MAX_UPLOAD_SPEED_KBYTES_PER_SEC">" size="5">
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
							<label for="CORE_PARAM_INT_MAX_UPLOAD_SPEED_SEEDING_KBYTES_PER_SEC">Max Upload Speed When Only Seeding KBs:</label>
						</td>
						<td class="settingsSetting">
							<input name="CORE_PARAM_INT_MAX_UPLOAD_SPEED_SEEDING_KBYTES_PER_SEC" id="CORE_PARAM_INT_MAX_UPLOAD_SPEED_SEEDING_KBYTES_PER_SEC" type="Text" maxlength="10" value="<tmpl_var name="CORE_PARAM_INT_MAX_UPLOAD_SPEED_SEEDING_KBYTES_PER_SEC">" size="5">
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
							<label for="CORE_PARAM_INT_MAX_UPLOADS">Max Uploads:</label>
						</td>
						<td class="settingsSetting">
							<input name="CORE_PARAM_INT_MAX_UPLOADS" id="CORE_PARAM_INT_MAX_UPLOADS" type="Text" maxlength="10" value="<tmpl_var name="CORE_PARAM_INT_MAX_UPLOADS">" size="5">
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
							<label for="CORE_PARAM_INT_MAX_UPLOADS_SEEDING">Max Uploads Seeding:</label>
						</td>
						<td class="settingsSetting">
							<input name="CORE_PARAM_INT_MAX_UPLOADS_SEEDING" id="CORE_PARAM_INT_MAX_UPLOADS_SEEDING" type="Text" maxlength="10" value="<tmpl_var name="CORE_PARAM_INT_MAX_UPLOADS_SEEDING">" size="5">
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
						</td>
						<td class="settingsSetting">
							<input type="Submit" value="Update Settings">
						</td>
					</tr>
				</table>
			</form>
		</tmpl_if>
	</div>
	<div id="uploadBottom"></div>
	<div id="uploadBottomEnd"></div>
	<div id="upload">
		<div id="uploadLast"></div>
		<div id="uploadFirst">
			<span class="upload">
				Settings
			</span>
		</div>
	</div>
	<div class="uploadClass">
		<form name="theForm" action="admin.php?op=updateFluAzuSettings" method="post" onsubmit="return validateSettings('fluazu')">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						<label for="fluazu_host">Host</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="fluazu_host" id="fluazu_host" type="Text" maxlength="254" value="<tmpl_var name="fluazu_host">" size="20">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Host of Azureus-server (currently only localhost is supported).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="fluazu_port">Port</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="fluazu_port" id="fluazu_port" type="Text" maxlength="5" value="<tmpl_var name="fluazu_port">" size="5">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Port of Azureus-server (XML/HTTP, default: 6884).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="fluazu_secure">Secure</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="fluazu_secure" id="fluazu_secure">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="fluazu_secure" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Use secure connection to azureus.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="fluazu_user">Username</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="fluazu_user" id="fluazu_user" type="Text" maxlength="254" value="<tmpl_var name="fluazu_user">" size="20">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Username to use when connecting to Azureus-server.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="fluazu_pw">Password</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="fluazu_pw" id="fluazu_pw" type="password" maxlength="254" value="<tmpl_var name="fluazu_pw">" size="20">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Password to use when connecting to Azureus-server.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
					</td>
					<td class="settingsSetting">
						<input type="Submit" value="Update Settings">
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div id="uploadBottom"></div>
	<div id="uploadBottomEnd"></div>
</div>
<div id="stats">
	<script language="JavaScript">
		function SuperAdmin(name_file) {
			window.open (name_file,"_blank","toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=800,height=600")
		}
	</script>
	<div id="bandwidthTitle">
		<a class="mainMenu" href="javascript:SuperAdmin('superadmin.php?a=1')">Log</a>
	</div>
	<div id="drivespaceTitle">
		<a class="mainMenu" href="javascript:SuperAdmin('superadmin.php?a=3')">ps</a>
	</div>
	<div id="drivespaceTitle">
		<a class="mainMenu" href="javascript:SuperAdmin('superadmin.php?a=9')">Version</a>
	</div>
	<div id="drivespaceTitle">
		<a class="mainMenu" href="">
			<tmpl_if name="fluazuRunning">
				Fluazu Running
			<tmpl_else>
				fluAzu Off
			</tmpl_if>
		</a>
	</div>
	<tmpl_if name="fluazuRunning">
		<div id="statsDrivespace">
			<span class="serverStats"><tmpl_var name="azu_host">:<tmpl_var name="azu_port"></span>
			<br />
			<span class="serverStats">(Azureus <tmpl_var name="azu_version">)</span>
			<div class="serverStatsBottom">
				<span class="serverStats">(pid: <tmpl_var name="fluazuPid">)</span>
			</div>
		</div>
	</tmpl_if>
</div>
</body>
</html>