<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<div id="content">
<tmpl_include name="inc.userSection.tmpl">
<tmpl_include name="inc.subfoot.tmpl">
</div>
<div id="stats">
	<div id="bandwidthTitle">
		<a class="mainMenu" href="admin.php?op=CreateUser">Create User</a>
	</div>
</div>
</body>
</html>