<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<div id="content">
	<div id="upload">
		<div id="uploadLast"></div>
		<div id="uploadFirst">
			<span class="upload">
				Overview
			</span>
		</div>
	</div>
	<div class="uploadClass">
		<div align="left">
			Edit the links you want displayed on the index page in the link list panel for all users.
		</div>
	</div>
	<div id="uploadBottom"></div>
	<div id="uploadBottomEnd"></div>
	<form action="admin.php?op=addLink" method="post">
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					New Link
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<label for="newLink"><tmpl_var name="_FULLURLLINK">:</label>
			<input type="Text" size="30" maxlength="255" name="newLink" id="newLink">
			<label for="newSite"><tmpl_var name="_FULLSITENAME">:</label>
			<input type="Text" size="30" maxlength="255" name="newSite" id="newSite">
			<input type="Submit" value="<tmpl_var name="_UPDATE">">
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
	</form>
	<div id="upload">
		<div id="uploadLast"></div>
		<div id="uploadFirst">
			<span class="upload">
				Links
			</span>
		</div>
	</div>
	<div class="uploadClass">
		<table id="statusInfos">
			<tmpl_loop name="link_list">
					<tr>
						<td class="buttonLinks">
							<a href="admin.php?op=deleteLink&lid=<tmpl_var name="lid">" onclick="return confirm('Delete Link <tmpl_var name="sitename"> ?')"><img src='themes/<tmpl_var name="theme">/pics/delete.jpg' alt='<tmpl_var name="_DELETE"> <tmpl_var name="lid">'></a>
						</td>
						<td class="buttonLinks">
							<a href="admin.php?op=editLinks&edit=<tmpl_var name="lid">"><img src='themes/<tmpl_var name="theme">/pics/edit.jpg' alt='<tmpl_var name="_EDIT"> <tmpl_var name="lid">'></a>
						</td>
						<td class="outlinks">
							<tmpl_if name="is_edit">
								<div class="linksClass">
									<form action="admin.php?op=editLink" method="post">
										<input type="hidden" name="lid" value="<tmpl_var name="lid">">
										<label for="editLink"><tmpl_var name="_FULLURLLINK">:</label>
										<input type="Text" size="25" maxlength="255" name="editLink" id="editLink" value="<tmpl_var escape="html" name="url">">
										<label for="editSite"><tmpl_var name="_FULLSITENAME">:</label>
										<input type="Text" size="25" maxlength="255" name="editSite" id="editSite" value="<tmpl_var escape="html" name="sitename">">
										<input type="Submit" value="<tmpl_var name="_UPDATE">"><br>
									</form>
								</div>
							<tmpl_else>
								<tmpl_if name="enable_dereferrer">
									<a class="outlinks" href="index.php?iid=dereferrer&u=<tmpl_var escape="url" name="url">" target="_blank"><tmpl_var escape="html" name="sitename"></a>
								<tmpl_else>
									<a class="outlinks" href="<tmpl_var escape="html" name="url">" target="_blank"><tmpl_var escape="html" name="sitename"></a>
								</tmpl_if>
							</tmpl_if>
						</td>
						<td class="buttonLinks">
							<tmpl_if name="counter" value="2">
								<a href='admin.php?op=moveLink&amp;direction=up&amp;lid=<tmpl_var name="lid">'><img src='themes/<tmpl_var name="theme">/pics/up.jpg' alt='Up'></a>
							</tmpl_if>
						</td>
						<td class="buttonLinks">
							<tmpl_if name="counter2">
								<a href='admin.php?op=moveLink&amp;direction=down&amp;lid=<tmpl_var name="lid">'><img src='themes/<tmpl_var name="theme">/pics/down.jpg' alt='Down'></a>
							</tmpl_if>
						</td>
					</tr>
			</tmpl_loop>
		</table>
	</div>
	<div id="uploadBottom"></div>
	<div id="uploadBottomEnd"></div>
	<tmpl_include name="inc.subfoot.tmpl">
</div>
</body>
</html>
