<tr nowrap>
	<td width="1%" style="padding:3px;" nowrap>
		<div class="tiny" align="left">
			<nobr><tmpl_var name="title"></nobr>
		</div>
	</td>
	<td width="98%">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td height="12" width="<tmpl_var name="percent_100">%">
					<div style="background:<tmpl_var name="bgcolor">;"><img src="themes/tf_standard_themes/images/blank.gif" width="1" height="12" border="0"></div>
				</td>
				<td height="12" width="<tmpl_var name="percent">%">
					<div style="background:#000000;"><img src="themes/tf_standard_themes/images/blank.gif" width="1" height="12" border="0"></div>
				</td>
			</tr>
		</table>
	</td>
	<td width="1%" style="padding:3px;" nowrap>
		<div class="tinypercent" align="left">
			<nobr><tmpl_var name="percent">%<tmpl_var name="text"></nobr>
		</div>
	</td>
</tr>