<html>
<head>
	<title><tmpl_var name="pagetitle"></title>
	<link rel="icon" href="themes/tf_standard_themes/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="themes/tf_standard_themes/images/favicon.ico" type="image/x-icon" />
	<link rel="StyleSheet" href="themes/<tmpl_var name="theme">/style.css" TYPE="text/css" />
	<link rel="alternate" title="Transfer-Stats" href="stats.php?f=rss" type="application/rss+xml" />
	<meta http-equiv="Pragma" content="no-cache; charset=<tmpl_var name="_CHARSET">" />
	<tmpl_if name="meta_refresh">
		<meta http-equiv="REFRESH" content="<tmpl_var name="meta_refresh">" />
	</tmpl_if>
	<script src="js/common.js" type="text/javascript"></script>
	<tmpl_if name="enable_sorttable">
		<script src="js/sorttable.js" type="text/javascript"></script>
		<style type="text/css">
			table.sortable a.sortheader { color: white; text-decoration: none; font-weight: bold; }
			table.sortable span.sortarrow { color: white; text-decoration: none; }
		</style>
	</tmpl_if>
	<style>
		form {margin: 0px; padding: 0px; display: inline;}
		#action_in_progress { background: <tmpl_var name="table_header_bg">; color: #222222; text-align: center; font-weight: bold; font-size: 16px; margin-top: 3px; margin-bottom: 3px; padding: 3px; width: 100%; }
	</style>
</head>