										</td>
									</tr>
								</table>
								<tmpl_if name="subfoot_showReturn">
									[<a href="index.php?iid=index"><tmpl_var name="_RETURNTOTRANSFERS"></a>]
								</tmpl_if>
							</div>
						</td>
					</tr>
				</table>
				<tmpl_var name="subfoot_torrentFluxLink">
			</td>
		</tr>
	</table>
</div>
</body>
</html>