<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<tmpl_include name="inc.adminmenu.tmpl">
<table border="0" width="100%">
	<tr>
		<td valign="top" align="left">
			<table border="0" width="220">
				<tr>
					<td colspan="2">
						<table width="100%" border="1" bordercolor="<tmpl_var name="table_admin_border">" cellpadding="2" cellspacing="0">
							<tr>
								<td bgcolor="<tmpl_var name="table_header_bg">" background="themes/<tmpl_var name="theme">/images/bar.gif" nowrap><font class="adminlink">Stats</font></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left"><strong>Transfers:</strong></td>
					<td align="right"><tmpl_var name="server_transfers_total"></td>
				</tr>
				<tr>
					<td align="left"><strong>Users:</strong></td>
					<td align="right"><tmpl_var name="server_users_total"></td>
				</tr>
				<tr>
					<td align="left"><strong>Hits:</strong></td>
					<td align="right"><tmpl_var name="server_hits_total"></td>
				</tr>
				<tr>
					<td align="left"><strong>Logs:</strong></td>
					<td align="right"><tmpl_var name="server_logs_total"></td>
				</tr>
				<tr>
					<td align="left"><strong>Messages:</strong></td>
					<td align="right"><tmpl_var name="server_messages_total"></td>
				</tr>
				<tr>
					<td align="left"><strong>Links:</strong></td>
					<td align="right"><tmpl_var name="server_links_total"></td>
				</tr>
				<tr>
					<td align="left"><strong>RSS:</strong></td>
					<td align="right"><tmpl_var name="server_rss_total"></td>
				</tr>
				<tr>
					<td align="left"><strong>Cookies:</strong></td>
					<td align="right"><tmpl_var name="server_cookies_total"></td>
				</tr>
				<tr>
					<td align="left"><strong>Transfer Profiles:</strong></td>
					<td align="right"><tmpl_var name="server_profiles_total"></td>
				</tr>
				<tr>
					<td align="left"><strong>Search-Engines:</strong></td>
					<td align="right"><tmpl_var name="server_searchengines_total"></td>
				</tr>
				<tr>
					<td align="left"><strong>Themes:</strong></td>
					<td align="right"><tmpl_var name="server_themes_total"> / <tmpl_var name="server_themes_standard_total"></td>
				</tr>
				<tr>
					<td align="left"><strong>Languages:</strong></td>
					<td align="right"><tmpl_var name="server_lang_total"></td>
				</tr>
				<tr>
					<td align="left"><strong>Docroot Disk Usage:</strong></td>
					<td align="right"><tmpl_var name="server_du_total"></td>
				</tr>
				<tr>
					<td align="left"><strong>Version:</strong></td>
					<td align="right"><tmpl_var name="server_version"></td>
				</tr>
				<tmpl_if name="superadminlinks_main">
					<tmpl_loop name="superadminlinks_main">
						<tr>
							<td align="left" colspan="2"><tmpl_var name="sa_link"></td>
						</tr>
					</tmpl_loop>
				</tmpl_if>
			</table>
		</td>
		<td valign="top" align="center">
			<table border="0" width="260">
				<tr>
					<td colspan="2">
						<table width="100%" border="1" bordercolor="<tmpl_var name="table_admin_border">" cellpadding="2" cellspacing="0">
							<tr>
								<td bgcolor="<tmpl_var name="table_header_bg">" background="themes/<tmpl_var name="theme">/images/bar.gif" nowrap><font class="adminlink">Database-Settings</font></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left"><strong>Type:</strong></td>
					<td align="right"><tmpl_var name="db_type"></td>
				</tr>
				<tr>
					<td align="left"><strong>Host:</strong></td>
					<td align="right"><tmpl_var name="db_host"></td>
				</tr>
				<tr>
					<td align="left"><strong>Name:</strong></td>
					<td align="right"><tmpl_var name="db_name"></td>
				</tr>
				<tr>
					<td align="left"><strong>Username:</strong></td>
					<td align="right"><tmpl_var name="db_user"></td>
				</tr>
				<tr>
					<td align="left"><strong>Persistent Connection:</strong></td>
					<td align="right"><tmpl_var name="db_pcon"></td>
				</tr>
			</table>
		</td>
		<td valign="top" align="right">
			<table border="0" width="220">
				<tr>
					<td colspan="2">
						<table width="100%" border="1" bordercolor="<tmpl_var name="table_admin_border">" cellpadding="2" cellspacing="0">
							<tr>
								<td bgcolor="<tmpl_var name="table_header_bg">" background="themes/<tmpl_var name="theme">/images/bar.gif" nowrap><font class="adminlink">Server</font></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left"><strong>OS:</strong></td>
					<td align="right"><tmpl_var name="server_os"></td>
				</tr>
				<tr>
					<td align="left"><strong>PHP-Version:</strong></td>
					<td align="right">
						<tmpl_if name="server_php_state" value="1">
							<font color="green">
						<tmpl_else>
							<font color="red">
						</tmpl_if>
						<tmpl_var name="server_php">
						</font>
					</td>
				</tr>
				<tr>
					<td align="left"><strong>sessions:</strong></td>
					<td align="right">
						<tmpl_if name="server_extension_session_state" value="1">
							<font color="green">
						<tmpl_else>
							<font color="red">
						</tmpl_if>
						<tmpl_var name="server_extension_session">
						</font>
					</td>
				</tr>
				<tr>
					<td align="left"><strong>pcre:</strong></td>
					<td align="right">
						<tmpl_if name="server_extension_pcre_state" value="1">
							<font color="green">
						<tmpl_else>
							<font color="red">
						</tmpl_if>
						<tmpl_var name="server_extension_pcre">
						</font>
					</td>
				</tr>
				<tr>
					<td align="left"><strong>sockets:</strong></td>
					<td align="right">
						<tmpl_if name="server_extension_sockets_state" value="1">
							<font color="green">
						<tmpl_else>
							<font color="red">
						</tmpl_if>
						<tmpl_var name="server_extension_sockets">
						</font>
					</td>
				</tr>
				<tr>
					<td align="left"><strong>safe_mode:</strong></td>
					<td align="right">
						<tmpl_if name="server_ini_safe_mode_state" value="1">
							<font color="green">
						<tmpl_else>
							<font color="red">
						</tmpl_if>
						<tmpl_var name="server_ini_safe_mode">
						</font>
					</td>
				</tr>
				<tr>
					<td align="left"><strong>allow_url_fopen:</strong></td>
					<td align="right">
						<tmpl_if name="server_ini_allow_url_fopen_state" value="1">
							<font color="green">
						<tmpl_else>
							<font color="red">
						</tmpl_if>
						<tmpl_var name="server_ini_allow_url_fopen">
						</font>
					</td>
				</tr>
				<tr>
					<td align="left"><strong>register_globals:</strong></td>
					<td align="right">
						<tmpl_if name="server_ini_register_globals_state" value="1">
							<font color="green">
						<tmpl_else>
							<font color="red">
						</tmpl_if>
						<tmpl_var name="server_ini_register_globals">
						</font>
					</td>
				</tr>
				<tr>
					<td align="left"><strong>imagetypes:</strong></td>
					<td align="right">
						<tmpl_if name="server_image_state" value="1">
							<font color="green">
						<tmpl_else>
							<font color="red">
						</tmpl_if>
						<tmpl_var name="server_image">
						</font>
					</td>
				</tr>
				<tmpl_if name="superadminlinks_check">
					<tmpl_loop name="superadminlinks_check">
						<tr>
							<td align="left" colspan="2"><tmpl_var name="sa_link"></td>
						</tr>
					</tmpl_loop>
				</tmpl_if>
			</table>
		</td>
	</tr>
</table>
<br><br>
<tmpl_include name="inc.subfoot.tmpl">
