<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<body bgcolor="<tmpl_var name="main_bgcolor">" leftmargin=0 topmargin=0 marginwidth=0 marginheight=0>
						<tmpl_if name="is_file">
							<form method="POST" name="pass_form">
								<p><label for="passwd">Please enter password for the file (leave blank if no password required):</label> <input type="text" name="passwd" id="passwd" size="60"></p>
								<p><input type="submit" value=" OK " name="OK"></p>
								<input type="hidden" name="file" value="<tmpl_var name="url_file">">
								<input type="hidden" name="dir" value="<tmpl_var name="url_dir">">
								<input type="hidden" name="type" value="<tmpl_var name="type">">
								<input type="hidden" name="exec" value="true">
							</form>
						</tmpl_if>
						<tmpl_if name="buff">
							<tmpl_var name="buff">
						</tmpl_if>
					</td>
				</tr>
			</table>
			[<a href="#" onclick="window.opener.location.reload();window.close();">Close Window</a>]
		</td>
	</tr>
</table>
<tmpl_include name="inc.fluxlink.tmpl">
</body>
</html>
