<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><tmpl_var name="pagetitle"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=<tmpl_var name="_CHARSET">" />
	<link rel="stylesheet" type="text/css" href="themes/<tmpl_var name="theme">/style.css" />
	<meta http-equiv="pragma" content="no-cache" />
</head>
<body bgcolor="<tmpl_var name="main_bgcolor">">
	<br />
	<br />
	<br />
	<div align="center">
		<table border="1" bordercolor="<tmpl_var name="table_border_dk">" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					<table border="0" cellpadding="4" cellspacing="0" width="100%">
						<tr>
							<td align="left" background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="main_bgcolor">">
								<font class="title"><tmpl_var name="pagetitle"> locked</font>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td bgcolor="<tmpl_var name="table_border_dk">">
					<div align="center">
						<table width="100%" bgcolor="<tmpl_var name="body_data_bg">">
							<tr>
								<td>
									<table bgcolor="<tmpl_var name="body_data_bg">" width="352 pixels" cellpadding="1">
										<tr>
											<td>
												<div align="center">
													<table border="0" cellpadding="4" cellspacing="0">
														<tr>
															<td>
																<div align="center">Please try again later.</div>
															</td>
														</tr>
													</table>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>