<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<a name="top"></a>
<div align="center">
	<table border=1 cellspacing=0 width="760" cellpadding=5 bordercolor="<tmpl_var name="table_admin_border">">
		<tr>
			<td bgcolor="<tmpl_var name="table_header_bg">">RSS Feeds (jump list):
				<ul>
					<tmpl_loop name="rss_list">
						<tmpl_if name="stat" value="1">
							<li><a href="#<tmpl_var name="rid">" title="<tmpl_var name="title">"><tmpl_var name="title"></a></li>
						<tmpl_elseif name="stat" value="2">
							<li>* RSS feed URL active, but contains no active content * (<a href="<tmpl_var name="url">" title="<tmpl_var name="title">"><tmpl_var name="url"></a>)</li>
						<tmpl_elseif name="stat" value="3">
							<li>* RSS timed out * (<a href="<tmpl_var name="url">" title="<tmpl_var name="url">"><tmpl_var name="url"></a>)</li>
						</tmpl_if>
					</tmpl_loop>
				</ul>
				* Click on Torrent Links below to add them to the Torrent Download List</td>
		</tr>
	</table>
</div>

<tmpl_loop name="rss_list">
<tmpl_if name="stat" value="1">
<br/>
<a name="<tmpl_var name="rid">"></a>
<table width="760" border=1 bordercolor="<tmpl_var name="table_admin_border">" cellpadding="2" cellspacing="0" bgcolor="<tmpl_var name="table_data_bg">">
	<tr>
		<td colspan=2 bgcolor="<tmpl_var name="table_header_bg">" background="themes/<tmpl_var name="theme">/images/bar.gif">
			<a href="<tmpl_var name="url">" target="_blank" title="<tmpl_var name="title">"><img src="themes/tf_standard_themes/images/properties.png" width=18 height=13 border=0 title="<tmpl_var name="title">"></a>&nbsp;&nbsp;<strong><a href="<tmpl_var name="url">" target="_blank" title="<tmpl_var name="title">"><font class="adminlink"><tmpl_var name="title"></font></a>&nbsp;&nbsp;<font class="tinywhite">[<a href="#" title="Top of page"><font class="tinywhite">top</font></a>]</font></strong>
		</td>
	</tr>
	<tr>
		<td bgcolor="<tmpl_var name="table_header_bg">"><div align=center class="title"><tmpl_var name="_TRANSFERFILE"></div></td>
		<td bgcolor="<tmpl_var name="table_header_bg">" width="33%"><div align=center class="title"><tmpl_var name="_TIMESTAMP"></div></td>
	</tr>

<!-- Loop through each feed item for this feed -->
<tmpl_loop name="feedItems">
	<tr>
		<td>
			<a href="dispatcher.php?action=urlUpload&type=torrent&url=<tmpl_var name="link">" title="<tmpl_var name="label">"><img src="themes/tf_standard_themes/images/download_owner.gif" width="16" height="16" border="0" title="<tmpl_var name="label">"></a>
			&nbsp;&nbsp;
			<a href="dispatcher.php?action=urlUpload&url=<tmpl_var name="link">" title="<tmpl_var name="label">"><tmpl_var name="title"></a>
		</td>
		<td><tmpl_var name="pubDate"></td>
	</tr>
</tmpl_loop>
</table>
</tmpl_if>
</tmpl_loop>
<tmpl_include name="inc.subfoot.tmpl">