<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.transferHead.tmpl">
<tmpl_include name="inc.transferNavi.tmpl">
<table bgcolor="<tmpl_var name="body_data_bg">" width="100%" cellpadding="1">
	<tr>
		<td>
			<div align="center">
				<tmpl_include name="inc.transferDetails.tmpl">
			</div>
		</td>
	</tr>
</table>
<tmpl_include name="inc.transferFoot.tmpl">