body {
  background-color: #eee;
  font-size: 12px;
  color:#564b47;  
  padding:20px;
  margin:0px;
  text-align: center;
}


#inhalt { 	
  text-align: left;
  vertical-align: middle;	
  margin: 0px auto;
  padding: 0px;
  width: 550px;
  background-color: #ffffff;
  border: 1px dashed #564b47;
  min-height: 320px !important; 
  height: 320px; /* IE6 */
}

p, h1 {
margin: 0px; 
padding: 10px; 
}

h1 {
font-size: 14px;
text-transform: uppercase;
text-align: right;
color: #fff;
background-color: #aa2233;
}

a { 
color: #ff66cc;
font-size: 11px;
background-color:transparent;
text-decoration: none; 
}