#transferDetails {
	border-width: 2px 2px 2px 2px;
	border-spacing: 2px;
	border-collapse: separate;
	background-color: white;
	margin: 0 auto;
	width: 500px;
}

#transferDetails th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	-moz-border-radius: 0px 0px 0px 0px;
	text-align: left;
}

#transferDetails td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	-moz-border-radius: 0px 0px 0px 0px;
	text-align: left;
	font-size: 14px;
}

pre { 
	color: #564b47;
	font-size: 12px;
	background-color: transparent;
	font-family: Courier, Monaco, Monospace;
}