/*  body und schrift deffinitionen */
html { 
  padding: 0px;
  margin: 0px;
  height:100%;
}

body {
  background-color: #ddd;
  font-size: 12px;
  font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  padding: 0px;
  margin: 0px;
  height: 100%;
}
p, h2 {
  padding:10px;
  margin:0px
}

h2 { padding-left: 30px; padding: bottom: 10px; font-size: 1.2em; color: black;}


h1 {
font-size:14px;
text-transform:uppercase;
color: #564b47;
background-color: transparent;
padding: 0px 15px;
}

a { 
color: #564b47;
font-size: 11px;
background-color:transparent;
text-decoration: none; 
}
 
/*  positioning-layers statisch und absolut */
#menu {
  position: absolute;
  width: 80px;
  background: url('../images/transferSettings/mainLayout/bg.png') no-repeat left 98%;
  height:99%;
}
ul, li {
margin:0;
padding-left:5px;
list-style-image: none;
}

#inhalt {
  margin-left: 80px;
  background-color:#fff;
  height:99%;
  overflow: auto;
}

tr.alt {
background-color: #ccc;
}

.hover, .hover a {
background-color: #B22037;
color: white;
}

img { border: none; }