<h1>save job</h1>
	<tmpl_if name="rssad_job_saved" value="1">
		<p class="NormalText"><tmpl_var name="rssad_job_message"></p>
		<pre><tmpl_var name="filtercontent"></pre>
	<tmpl_else>
		<h3>Error saving Job</h3>
		<tmpl_if name="messages">
			<ul>
				<tmpl_loop name="messages">
					<li><tmpl_var name="msg"></li>
				</tmpl_loop>
			</ul>
		</tmpl_if>
	</tmpl_if>
<p class="NormalText"><a href="admin.php?op=fluxdRssadSettings">Return to fluxd-Rssad-Settings</a></p>