<h1><tmpl_var name="user">'s <tmpl_var name="_PROFILE"></h1>
<table id="profileTop">
<tr><td><a href="index.php?iid=profile">Return to Profile</a></td></tr>
<tr><td><tmpl_var name="_PROFILEUPDATEDFOR"> <tmpl_var name="user"></td></tr>
</table>