<div id="mymenu1" class="outlinemenu">
	<ul>
		<li><a href="admin.php?op=serverSettings">server</a></li>
		<li><a href="admin.php?op=transferSettings">transfer</a></li>
		<li><a href="admin.php?op=controlSettings">control</a></li>
		<li><a href="admin.php?op=webappSettings">webapp</a></li>
		<li><a href="admin.php?op=indexSettings">index</a></li>
		<li><a href="admin.php?op=dirSettings">dir</a></li>
		<li><a href="admin.php?op=statsSettings">stats</a></li>
		<li><a href="admin.php?op=fluxdSettings"><tmpl_var name="_FLUXD_MENU"></a></li>
		<li><a href="admin.php?op=xferSettings">xfer</a></li>
		<li><a href="admin.php?op=searchSettings"><tmpl_var name="_SEARCHSETTINGS_MENU"></a></li>
		<li><a href="admin.php?op=editLinks"><tmpl_var name="_LINKS_MENU"></a></li>
		<li><a href="admin.php?op=editRSS">rss</a></li>
		<li><a href="admin.php?op=showUsers">users</a></li>
		<li><a href="admin.php?op=showUserActivity"><tmpl_var name="_ACTIVITY_MENU"></a></li>
	</ul>
</div>
