<tmpl_if name="fluxlink_display">
Powered by <a href="<tmpl_var name="fluxlink_url">"> <tmpl_var name="fluxlink_name"></a>
<!-- REMOVE LINE 5 TO DISABLE CREDITS -->
 | TF-NG theme by <a href="#" id="credit_link">Kanesodi and Epsylon3</a>
</tmpl_if>
<div id="credits" title="credits" style="display:none;">
<p style="text-align:center;"><img src="themes/RedRound/images/credits/logo.png" alt="RedRound logo" /></p>
	<div id="credit_tabs">
		<ul>
			<li><a href="#credit_tabs-1">About</a></li>
			<li><a href="#credit_tabs-2">Credits</a></li>
			<li><a href="#credit_tabs-3">People</a></li>
		</ul>
		<div id="credit_tabs-1"> <!-- About -->
			<h2>RedRound theme for TorrentFlux-NG</h2>
			<tmpl_if name="is_superadmin">
				<h3>Version</h3>
				<ul>
					<li>RedRound: v1.0git by Epsylon3</li>
					<li>Dashboard: v1.1git by Epsylon3</li>
				</ul>
				<p>
					<a href="https://github.com/epsylon3/torrentflux/issues" target="_blank">report bug</a> | 
					<a href="https://github.com/epsylon3/torrentflux/tree/master/html/themes/RedRound/" target="_blank">check for a new version</a>
				</p>
			<tmpl_else>
				<h3>Having problems?</h3>
				<p>contact server administrator</p>
			</tmpl_if>
		</div>
		<div id="credit_tabs-2"> <!-- Credits -->
			<ul>
				<li>Fixups and TFNG integration: <a href="http://github.com/epsylon3">Epsylon3</a></li>
				<li>Base: <a href="http://www.kaotonik.net/en/home/thk/torrentflux-b4rt-theme">thk tf-b4rt Theme</a></li>
				<li>RedRound <a href="http://www.minimalistic-design.net/">Minimalistic Design</a></li>
				<li>Transfer/Directory Options: <a href="http://www.intensivstation.ch/">intensivstation</a></li>
				<li>Dashboard tables: <a href="http://veerle.duoh.com/blog/comments/a_css_styled_table/">Veerle Pieters</a></li>

				<li><a href="http://www.ajaxload.info/">Ajax Loader</a></li>
				<li>small icons: <a href="http://www.famfamfam.com/">FAMFAMFAM</a></li>
				<li>big icons: <a href="http://tango.freedesktop.org/">Tango</a></li>
				<li>favicon/login/dereferer logo: <a href="http://gnome-look.org/usermanager/search.php?username=jaanos">jaanos</a></li>

				<li><a href="http://jquery.com/">jQuery</a></li>
				<li><a href="http://jqueryui.com/">jQuery UI</a></li>
			</ul>
		</div>
		<div id="credit_tabs-3"> <!-- People -->
			<h3>reported a bug _and_ provided a solution</h3>
			<ul>
				<li>b4rt, for pointing renaming folder because of hardcoded paths in JS scripts</li>
				<li>blake, solution for rounded expandable box</li>
				<li>MoB, loads of cosmetic changes</li>
				<li>staticanime for file type icons</li>
			</ul>
			<h3>feedback/bug report</h3>
			<p>wonslung, SpmP, zzattack, bb-tje</p>
			<p><b>Thank you for provided screenshots :)</b></p>
		</div>
	</div>
</div>
