		</div>
	</div>
	<div class="angle" id="AngleBottomLeft">
		<div class="angle" id="AngleBottomRight"></div>
		<div id="AngleBottomBorder"></div>
	</div>
</div>
<div id="footer"><tmpl_include name="inc.fluxlink.tmpl"></div>
</body>
</html>
