<div id="indexTorrentSearch">
<form id="form_search" action="index.php" method="get" onsubmit="return actionSubmit('Searching')">
<fieldset>
	<label for="searchterm">Torrent <tmpl_var name="_SEARCH">:</label><br />
	<input type="hidden" name="iid" value="torrentSearch" />
	<input type="text" name="searchterm" id="searchterm" size="40" maxlength="50" />
	<select name="searchEngine" style="width:100px">
		<tmpl_loop name="Engine_List">
			<option <tmpl_if name="selected">selected="selected"</tmpl_if>><tmpl_var name="Engine"></option>
		</tmpl_loop>
	</select>
	<input type="submit" value="<tmpl_var name="_SEARCH">" />
</fieldset>
</form>
</div>
