<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Directory Actions</title>
	<meta http-equiv="Content-Type" content="text/html; charset=<tmpl_var name='_CHARSET'>" />
	<meta http-equiv="Pragma" content="no-cache" />
	<link rel="stylesheet" href="themes/<tmpl_var name='theme'>/css/dirActionsDefault.css" type="text/css" media="screen">
	<link rel="stylesheet" href="themes/<tmpl_var name='theme'>/css/<tmpl_var name='iid'>.css" type="text/css" />
	<link rel="stylesheet" href="js/jquery.jgrowl.css" type="text/css" media="screen" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.jgrowl.js"></script>
</head>
<body>
	<div id="menu"></div>
		<div id="inhalt">
		<div class="box">