<table id="adminMainStatsTF">
	<tr>
		<th>Transfers:</th>
		<td><tmpl_var name="server_transfers_total"></td>
	</tr>
	
	<tr>
		<th>Users:</th>
		<td><tmpl_var name="server_users_total"></td>
	</tr>
	
	<tr>
		<th>Hits:</th>
		<td><tmpl_var name="server_hits_total"></td>
	</tr>
	
	<tr>
		<th>Logs:</th>
		<td><tmpl_var name="server_logs_total"></td>
	</tr>

	<tr>
		<th>Links:</th>
		<td><tmpl_var name="server_links_total"></td>
	</tr>
		
	<tr>
		<th>RSS:</th>
		<td><tmpl_var name="server_rss_total"></td>
	</tr>

	<tr>
		<th>Messages:</th>
		<td><tmpl_var name="server_messages_total"></td>
	</tr>
	
	<tr>
		<th>Cookies:</th>
		<td><tmpl_var name="server_cookies_total"></td>
	</tr>
			
	<tr>
		<th>Transfer Profiles:</th>
		<td><tmpl_var name="server_profiles_total"></td>
	</tr>

	<tr>
		<th>Search-Engines:</th>
		<td><tmpl_var name="server_searchengines_total"></td>
	</tr>
	
	<tr>
		<th>Themes:</th>
		<td><tmpl_var name="server_themes_total"> / <tmpl_var name="server_themes_standard_total"></td>
	</tr>

			
	<tr>
		<th>Languages:</th>
		<td><tmpl_var name="server_lang_total"></td>
	</tr>
		
	<tr>
		<th>Docroot Disk Usage:</th>
		<td><tmpl_var name="server_du_total"></td>
	</tr>
	
	<tr>
		<th>Version:</th>
		<td><tmpl_var name="server_version"></td>
	</tr>
</table>