<tmpl_include name="inc.adminLayoutHeader.tmpl">
	<div class="error">
		<h2><tmpl_var name="_TRYDIFFERENTUSERID"></h2>
		<p><b><tmpl_var name="newUser"></b> <tmpl_var name="_HASBEENUSED"> <a href="admin.php?op=CreateUser">back</a></p>
	</div>
<tmpl_include name="inc.adminLayoutFooter.tmpl">