<tmpl_include name="inc.dirActionsLayoutHeader.tmpl">
<h1>Check SFV</h1>
	<table id="checkSFV">
		<tr><td><tmpl_var name="buff"></td></tr>
	</table>
<tmpl_include name="inc.dirActionsLayoutFooter.tmpl">