<tmpl_include name="inc.transferLayoutHeader.tmpl">
<h1>Transfer Images</h1>
<table class="transferImages">
	<tr>
		<th>Totals</th>
		<th>Peers</th>
	</tr>
	<tr>
		<td><img src="image.php?i=pieTransferTotals&transfer=<tmpl_var name="transfer">&c1=cccccc&c2=BC0400" border="0" title="Totals"></td>
		<td><img src="image.php?i=pieTransferPeers&transfer=<tmpl_var name="transfer">&c1=cccccc&c2=BC0400" border="0" title="Peers"></td>
	</tr>
</table>
<tmpl_include name="inc.transferLayoutFooter.tmpl">